<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} %highlight(%-5level) %magenta(%logger{0}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="APPLICATION-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_PATH}/LabManagerApi.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} %-5level %logger{0} - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_PATH}/LabManagerApi_%d{dd-MM-yyyy}_%i.log
            </fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>

    </appender>


    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="APPLICATION-LOG"/>
    </root>


</configuration>

