<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="all">
		<th:block th:replace="fragments/buttons :: interactiveDeletionProcess" />
		<script type="text/javascript" th:src="@{/js/labmanager/formdynlist.js}"></script>
	</th:block>

	<div th:fragment="dynamicDataList(name, label, addLabel)" class="form-group">
		<label th:for="${'dynamicDataList_' + name}" class="col-form-label" th:utext="${label}"></label>
		<table th:id="${'dynamicDataList_' + name + '_table'}" class="regularTable table-responsive supervisorTable form-control">
			<tbody>
				<tr th:id="${'dynamicDataList_' + name + '_new'}">
					<td>
						<button class="fa-solid fa-add"
						        th:id="${'dynamicDataList_' + name + '_addButton'}"
						        th:title="${addLabel}"
						        style="font-size:14pt;cursor: pointer;"></button>
					</td>
				</tr>
			</tbody>
		</table>
    </div>

</html>