<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="jquery">
    	<!-- JQuery 3.6.1 -->
        <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
	</th:block>

    <th:block th:fragment="jquery-validation">
    	<!--  JQuery Validation 1.19.2 -->
		<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/additional-methods.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/additional-methods.min.js"></script>
	</th:block>

    <th:block th:fragment="select2">
    	<!--  Bootstrap select2 4.1.0 -->
		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
	</th:block>

    <th:block th:fragment="bootstrap">
    	<!-- Bootstrap 5.2.0 -->
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <script th:src="@{/js/bootstrap.min.js}"></script>
	</th:block>

    <th:block th:fragment="bootstrap-datatable">
    	<!-- Bootstrap DataTable 1.12.1 and associated extensions -->
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.12.1/af-2.4.0/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/cr-1.5.6/date-1.1.2/fc-4.1.0/fh-3.2.4/kt-2.7.0/r-2.3.0/rg-1.2.0/rr-1.2.8/sc-2.0.7/sb-1.3.4/sp-2.0.2/sl-1.4.0/sr-1.1.1/datatables.min.css"/>
		<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.12.1/af-2.4.0/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/cr-1.5.6/date-1.1.2/fc-4.1.0/fh-3.2.4/kt-2.7.0/r-2.3.0/rg-1.2.0/rr-1.2.8/sc-2.0.7/sb-1.3.4/sp-2.0.2/sl-1.4.0/sr-1.1.1/datatables.min.js"></script>
	</th:block>

    <th:block th:fragment="bootstrap-icons">
    	<!-- Bootstrap Icons 1.9.1 -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.min.css" crossorigin="anonymous">
	</th:block>

    <th:block th:fragment="bootstrap-fileinput">
    	<!-- Bootstrap File-Input 5.5.1 -->
		<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.1/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
		<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.1/js/fileinput.min.js"></script>
	</th:block>

    <th:block th:fragment="fontawesome">
    	<!-- Font Awesome 6.1.2 -->
		<link rel="stylesheet" th:href="@{/css/fontawesome.all.min.css}"/>
		<script th:src="@{/js/fontawesome.all.min.js}"></script>
	</th:block>

    <th:block th:fragment="modernizr">
    	<!-- Modernizr 3.6.0 -->
        <script th:src="@{/js/modernizr-custom.js}"></script>
	</th:block>

    <th:block th:fragment="jquery-plugins">
    	<!-- JQuery Easing 1.4.0 -->
    	<script th:src="@{/js/jquery-easing-1.4.0.js}"></script>
	</th:block>

    <th:block th:fragment="sweetalert">
    	<!-- SweetAlert2 11.4.9 -->
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.29/dist/sweetalert2.all.min.js"></script>
	</th:block>

</html>