<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/general :: allBaseLibs-with-bundles"/>

<nav class="labmanager-administration-navigation" aria-label="breadcrumb">
  <ol class="breadcrumb">
  	<li class="breadcrumb-item" th:utext="#{html.MainWebSite}"></li>
    <li class="breadcrumb-item"><a th:href="${mainSiteUrl}" th:utext="${mainSiteName}"></a></li>
  </ol>
</nav>

<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
		<div class="card">
			<img th:src="@{/images/card/dashboard.jpg}" class="card-img-top"></img>
		    <div class="card-body">
			    <h5 class="card-title" th:utext="#{html.IndicatorsAndDashBoard}"></h5>
			    <p class="card-text">
			    	<a th:href="@{/globalIndicatorsEditor}" class="btn btn-labeled btn-success" role="button">
			    		<span class="fa-solid fa-sort-numeric-up-alt"></span>&nbsp;<th:block th:utext="#{html.GlobalIndicators}"></th:block></a>
			    	<button type="button" class="btn btn-labeled btn-primary" disabled>
			    	<span class="fa-solid fa-chart-simple"></span>&nbsp;Charts</button>
			    	<button type="button" class="btn btn-labeled btn-secondary" disabled>
			    	<span class="fa-solid fa-file-excel"></span>&nbsp;Export to spreadsheet</button>
			    </p>
			</div>
			<div class="card-footer">
				<div class="dropdown">
			    	<button type="button" class="btn btn-labeled btn-info dropdown-toggle" data-bs-toggle="dropdown"
		    	            id="dropdownShowGlobalIndicators" aria-expanded="false">
			    	<span class="fa-solid fa-sort-numeric-up-alt"></span>&nbsp;<th:block th:utext="#{html.GlobalIndicators}"></th:block></button>
			    	<ul class="dropdown-menu" aria-labelledby="dropdownShowGlobalIndicators">
						<li th:each="organization : ${organizations}"
						    th:if="${organization.isMajorOrganization}">
							<a class="dropdown-item"
							   th:href="@{/showGlobalIndicators(dbId=${organization.id})}"
							   th:utext="${organization.acronymOrName}"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
    <div class="col">
		<div class="card">
			<img th:src="@{/images/card/organizations.jpg}" class="card-img-top"></img>
		    <div class="card-body">
			    <h5 class="card-title" th:utext="#{html.ResearchOrganizationManagement}"></h5>
			    <p class="card-text">
			    	<a th:href="@{/organizationList}" class="btn btn-labeled btn-success" role="button">
			    		<span class="fa-solid fa-list"></span>&nbsp;<th:block th:utext="#{html.OrganizationsList}"></th:block></a>
			    	<a th:if="${changeEnabled}"
			    	   th:href="@{/organizationEditor}" class="btn btn-labeled btn-primary" role="button">
			    		<span class="fa-solid fa-circle-plus"></span>&nbsp;<th:block th:utext="#{html.AddOrganization}"></th:block></a>
			    	<a th:href="@{/addressList}" class="btn btn-labeled btn-secondary" role="button">
			    		<span class="fa-solid fa-list"></span>&nbsp;<th:block th:utext="#{html.AddressList}"></th:block></a>
			    	<a th:if="${changeEnabled}"
			    	   th:href="@{/addressEditor}" class="btn btn-labeled btn-warning" role="button">
			    		<span class="fa-solid fa-circle-plus"></span>&nbsp;<th:block th:utext="#{html.AddAddress}"></th:block></a>
			    </p>
			</div>
			<div class="card-footer">
				<div class="dropdown">
			    	<button type="button" class="btn btn-labeled btn-info dropdown-toggle" data-bs-toggle="dropdown"
		    	            id="dropdownShowOrganizationAddresses" aria-expanded="false">
			    	<span class="fa-solid fa-list"></span>&nbsp;<th:block th:utext="#{html.AddressPublicComponent}"></th:block></button>
			    	<ul class="dropdown-menu" aria-labelledby="dropdownShowOrganizationAddresses">
						<li th:each="organization : ${organizations}"
						    th:if="${organization.isMajorOrganization}">
							<a class="dropdown-item"
							   th:href="@{/showOrganizationAddresses(dbId=${organization.id})}"
							   th:utext="${organization.acronymOrName}"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
    <div class="col">
		<div class="card">
		    <div class="card-body">
				<img th:src="@{/images/card/staff.jpg}" class="card-img-top"></img>
			    <h5 class="card-title" th:utext="#{html.PersonManagement}"></h5>
			    <p class="card-text">
					<div class="dropdown">
				    	<button type="button" class="btn btn-labeled btn-success dropdown-toggle" data-bs-toggle="dropdown"
			    	            id="dropdownPersonList" aria-expanded="false">
				    	<span class="fa-solid fa-list"></span>&nbsp;<th:block th:utext="#{html.PersonsList}"></th:block></button>
				    	<ul class="dropdown-menu" aria-labelledby="dropdownPersonList">
							<li><a class="dropdown-item" th:href="@{/personList}" th:utext="#{html.All}"></a></li>
							<li><hr class="dropdown-divider"></li>
							<li th:each="organization : ${organizations}"
							    th:if="${organization.isMajorOrganization}">
								<a class="dropdown-item"
								   th:href="@{/personList(organization=${organization.id})}"
								   th:utext="${organization.acronymOrName}"></a></li>
						</ul>
					</div>


			    	<a th:if="${changeEnabled}"
			    	   th:href="@{/personEditor}" class="btn btn-labeled btn-primary" role="button">
				       <span class="fa-solid fa-circle-plus"></span>&nbsp;<th:block th:utext="#{html.AddPerson}"></th:block></a>
			    	<a th:if="${changeEnabled}"
			    	   th:href="@{/personDuplicateList}" class="btn btn-labeled btn-secondary" role="button">
				       <span class="fa-solid fa-code-merge"></span>&nbsp;<th:block th:utext="#{html.MergePersons}"></th:block></a>
			    </p>
				<div class="card-footer">
					<div class="dropdown">
				    	<button type="button" class="btn btn-labeled btn-info dropdown-toggle" data-bs-toggle="dropdown"
			    	            id="dropdownFrontMembers" aria-expanded="false">
				    	<span class="fa-solid fa-list"></span>&nbsp;<th:block th:utext="#{html.FrontMemberList}"></th:block></button>
				    	<ul class="dropdown-menu" aria-labelledby="dropdownFrontMembers">
							<li th:each="organization : ${organizations}"
							    th:if="${organization.isMajorOrganization}">
								<a class="dropdown-item"
								   th:href="@{/showMembers(organization=${organization.id})}"
								   th:utext="${organization.acronymOrName}"></a></li>
						</ul>
					</div>
					<div class="dropdown">
				    	<button type="button" class="btn btn-labeled btn-info dropdown-toggle" data-bs-toggle="dropdown"
			    	            id="dropdownSupervisions" aria-expanded="false">
				    	<span class="fa-solid fa-list"></span>&nbsp;<th:block th:utext="#{html.Supervisions}"></th:block></button>
				    	<ul class="dropdown-menu" aria-labelledby="dropdownSupervisions">
							<li th:each="organization : ${organizations}"
							    th:if="${organization.isMajorOrganization}">
								<button type="button" class="dropdown-item"
								   th:utext="${organization.acronymOrName}"></button>
								<ul class="dropdown-menu dropdown-submenu">
									<li><a th:each="membership : ${#lists.sort(organization.memberships, T(fr.ciadlab.labmanager.entities.EntityUtils).preferredPersonNameBasedMembershipComparator)}"
									       th:if="${membership.isActive && membership.isMainPosition && membership.memberStatus.isResearcher && membership.memberStatus.hierachicalLevel <= 2}"
									       class="dropdown-item"
									       th:href="@{/showSupervisions(dbId=${membership.person.id})}"
									       th:utext="${membership.person.fullNameWithLastNameFirst}"></a></li>
								</ul> 
						</ul>
					</div>
					<div class="dropdown">
				    	<button type="button" class="btn btn-labeled btn-info dropdown-toggle" data-bs-toggle="dropdown"
			    	            id="dropdownJuryMemberships" aria-expanded="false">
				    	<span class="fa-solid fa-list"></span>&nbsp;<th:block th:utext="#{html.JuryMemberships}"></th:block></button>
				    	<ul class="dropdown-menu" aria-labelledby="dropdownJuryMemberships">
							<li th:each="organization : ${organizations}"
							    th:if="${organization.isMajorOrganization}">
								<button type="button" class="dropdown-item"
								        th:utext="${organization.acronymOrName}"></button>
								<ul class="dropdown-menu dropdown-submenu">
									<li><a th:each="membership : ${#lists.sort(organization.memberships, T(fr.ciadlab.labmanager.entities.EntityUtils).preferredPersonNameBasedMembershipComparator)}"
									       th:if="${membership.isActive && membership.isMainPosition && membership.memberStatus.isResearcher && membership.memberStatus.hierachicalLevel <= 2}"
									       class="dropdown-item"
									       th:href="@{/showJuryMemberships(dbId=${membership.person.id})}"
									       th:utext="${membership.person.fullNameWithLastNameFirst}"></a></li>
								</ul> 
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="col">
		<div class="card">
		    <div class="card-body">
				<img th:src="@{/images/card/journals.jpg}" class="card-img-top"></img>
			    <h5 class="card-title" th:utext="#{html.JournalManagement}"></h5>
			    <p class="card-text">
			    	<a th:href="@{/journalList}" class="btn btn-labeled btn-success" role="button">
			    		<span class="fa-solid fa-list"></span>&nbsp;<th:block th:utext="#{html.JournalsList}"></th:block></a>
			    	<a th:if="${changeEnabled}"
			    	   th:href="@{/journalEditor}" class="btn btn-labeled btn-primary" role="button">
			    		<span class="fa-solid fa-circle-plus"></span>&nbsp;<th:block th:utext="#{html.AddJournal}"></th:block></a>
			    </p>
			</div>
		</div>
	</div>
    <div class="col">
		<div class="card">
		    <div class="card-body">
				<img th:src="@{/images/card/conferences.jpg}" class="card-img-top"></img>
			    <h5 class="card-title">Conferences</h5>
			    <p class="card-text">
			    	<button type="button" class="btn btn-labeled btn-success" disabled>
			    		<span class="fa-solid fa-list"></span>&nbsp;List of conferences</button>
			    	<button type="button" class="btn btn-labeled btn-primary" disabled>
			    		<span class="fa-solid fa-circle-plus"></span>&nbsp;Add a conference</button>
			    </p>
			</div>
		</div>
	</div>
    <div class="col">
		<div class="card">
		    <div class="card-body">
				<img th:src="@{/images/card/publications.jpg}" class="card-img-top"></img>
			    <h5 class="card-title" th:utext="#{html.PublicationManagement}"></h5>
			    <p class="card-text">
			    	<a th:href="@{/publicationList}" class="btn btn-labeled btn-success" role="button">
			    		<span class="fa-solid fa-list"></span>&nbsp;<th:block th:utext="#{html.BackPublicationList}"></th:block></a>
			    	<a th:if="${changeEnabled}"
			    	   th:href="@{/publicationEditor}" class="btn btn-labeled btn-primary" role="button">
			    		<span class="fa-solid fa-circle-plus"></span>&nbsp;<th:block th:utext="#{html.AddPublication}"></th:block></a>
			    	<a th:if="${changeEnabled}"
			    	   th:href="@{/showBibTeXImporter}" class="btn btn-labeled btn-secondary" role="button">
			    		<span class="fa-solid fa-upload"></span>&nbsp;<th:block th:utext="#{html.ImportBibTeX}"></th:block></a>
			    	<a th:if="${changeEnabled}"
			    	   th:href="@{/regenerateThumbnail}" class="btn btn-labeled btn-warning" role="button">
			    		<span class="fa-solid fa-sync"></span>&nbsp;<th:block th:utext="#{html.RegeneratePictures}"></th:block></a>
			    </p>
				<div class="card-footer">
					<div class="dropdown">
				    	<button type="button" class="btn btn-labeled btn-info dropdown-toggle" data-bs-toggle="dropdown"
			    	            id="dropdownPublications" aria-expanded="false">
				    	<span class="fa-solid fa-list"></span>&nbsp;<th:block th:utext="#{html.FrontPublicationList}"></th:block></button>
				    	<ul class="dropdown-menu" aria-labelledby="dropdownPublications">
							<li><a class="dropdown-item" th:href="@{/showPublications}" th:utext="#{html.All}"></a></li>
							<li><hr class="dropdown-divider"></li>
							<li th:each="organization : ${organizations}"
							    th:if="${organization.isMajorOrganization}">
								<button type="button" class="dropdown-item"
								   th:utext="${organization.acronymOrName}"></button>
								<ul class="dropdown-menu dropdown-submenu">
									<li><a class="dropdown-item" th:href="@{/showPublications(organization=${organization.id})}" th:utext="#{html.All}"></a></li>
									<li><hr class="dropdown-divider"></li>
									<li><a th:each="membership : ${#lists.sort(organization.memberships, T(fr.ciadlab.labmanager.entities.EntityUtils).preferredPersonNameBasedMembershipComparator)}"
									       th:if="${membership.isActive && membership.isMainPosition && membership.memberStatus.isResearcher && membership.memberStatus.hierachicalLevel <= 2}"
									       class="dropdown-item"
									       th:href="@{/showPublications(dbId=${membership.person.id})}"
									       th:utext="${membership.person.fullNameWithLastNameFirst}"></a></li>
								</ul> 
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="col">
		<div class="card">
		    <div class="card-body">
				<img th:src="@{/images/card/projects.jpg}" class="card-img-top"></img>
			    <h5 class="card-title">Project Management</h5>
			    <p class="card-text">
			    	<button type="button" class="btn btn-labeled btn-success" disabled>
			    	<span class="fa-solid fa-list"></span>&nbsp;List of projects</button>
			    	<button type="button" class="btn btn-labeled btn-primary" disabled>
			    	<span class="fa-solid fa-circle-plus"></span>&nbsp;Add a project</button>
			    </p>
			</div>
		</div>
	</div>
    <div th:if="${changeEnabled}" class="col">
		<div class="card">
		    <div class="card-body">
				<img th:src="@{/images/card/databases.jpg}" class="card-img-top"></img>
			    <h5 class="card-title" th:utext="#{html.DatabaseManagement}"></h5>
			    <p class="card-text">
			    	<a th:href="@{/exportDatabaseToZip}" class="btn btn-labeled btn-success" role="button">
			    	<span class="fa-solid fa-download"></span>&nbsp;<th:block th:utext="#{html.DatabaseToZipExport}"></th:block></a>
			    	<a th:href="@{/exportDatabaseToJson}" class="btn btn-labeled btn-primary" role="button">
			    	<span class="fa-solid fa-download"></span>&nbsp;<th:block th:utext="#{html.DatabaseToJsonExport}"></th:block></a>
			    	<a th:href="@{/mergeDatabaseBibTeXToJson}" class="btn btn-labeled btn-secondary" role="button">
			    	<span class="fa-solid fa-code-merge"></span>&nbsp;<th:block th:utext="#{html.DatabaseBibTeXToJsonExport}"></th:block></a>
			    </p>
			</div>
		</div>
	</div>
</div>

<p th:utext="#{html.Username(${username ?: ''})}"></p>

</html>