<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/general :: allBaseLibs"/>
<th:block th:replace="fragments/libs :: bootstrap-datatable"/>

<th:block th:replace="fragments/table :: adminTableDefinition(${changeEnabled})"/>

<th:block th:replace="fragments/nav :: assostructListBar"/>

<a id="btAddAssociatedStructure" class="btn btn-warning mt-4 pr-4 pl-4"
   th:if="${changeEnabled}" th:utext="#{html.AddAssociatedStructure}"
   th:href="${URLS_edit}"></a>

<table th:replace="fragments/table :: adminTable(~{::thead}, ~{::tbody})">
    <thead>
        <th th:utext="#{html.Id}"></th>
        <th th:utext="#{html.Acronym}"></th>
        <th th:utext="#{html.Name}"></th>
        <th th:utext="#{html.Type}"></th>
        <th th:utext="#{html.StartDate}"></th>
        <th th:utext="#{html.Duration}"></th>
        <th th:utext="#{html.FundingScheme0}"></th>
        <th th:utext="#{html.Responsible}"></th>
        <th th:utext="#{html.Budget}"></th>
        <th th:utext="#{html.Confidential}"></th>
        <th th:utext="#{html.Validated}"></th>
        <th th:text="#{html.Actions}"></th>
    </thead>
    <tbody>
        <tr th:each="structure : ${structures}">
            <td>
                <th:block th:utext="${structure.id}"></th:block>
            </td>
            <td>
                <th:block th:utext="${structure.acronym}"></th:block>
            </td>
            <td>
                <th:block th:utext="${structure.name}"></th:block>
            </td>
            <td>
				<th:block th:if="${structure.type != null}"
				          th:utext="${structure.type.getLabel()}"></th:block>
            </td>
            <td>
				<th:block th:if="${structure.creationDate != null}"
				          th:utext="${structure.creationDate.toString()}"></th:block>
            </td>
            <td>
				<th:block th:utext="${structure.creationDuration}"></th:block>
            </td>
            <td>
				<th:block th:if="${structure.fundingOrganization != null}"
				          th:utext="${structure.fundingOrganization.getAcronymOrName()}"></th:block>
            </td>
            <td>
            	<th:block th:each="holder, iHolder : ${structure.holders.?[role.head]}">
                    <th:block th:unless="${iHolder.first}"
                              th:utext="', '"></th:block>
                    <th:block th:utext="${holder.person.fullNameWithLastNameFirst}"></th:block>
            	</th:block>
            </td>
            <td>
				<th:block th:utext="${#numbers.formatDecimal(structure.budget, 1, 'DEFAULT', 0, 'DEFAULT')}"></th:block>
            </td>
            <td>
				<th:block th:utext="${structure.confidential}"></th:block>
            </td>
			<td>
            	<th:block th:if="${structure.validated}"><i style="color:green" class="fa-solid fa-check-circle">B</i></th:block>
            	<th:block th:unless="${structure.validated}"><i style="color:red" class="fa-solid fa-triangle-exclamation">A</i></th:block>
            </td>
            <td th:replace="fragments/table :: adminToolButtons(${structure.id}, ${structure.acronymOrName},
            		#{html.EditAssociatedStructure1(${structure.acronymOrName})},
            		#{html.DeleteAssociatedStructure1(${structure.acronymOrName})},
            		~{::.admin-tool-buttons},
            		null, null, null, null)">
            </td>
        </tr>
    </tbody>
</table>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(() => {
    	initAdministrationTable({
            columns: 11,
    		actionWidth: '60px',
    		order: [ [1, 'asc'] ],
    		createdRow: (row, data, dataIndex) => {
    			if (data[9] == 'true') {
    				$(row).addClass('redStripeBackground');
    			}
    		},
    	});
        /*[# th:if="${changeEnabled}" th:each="structure : ${structures}"]*/
        attachDeletionHandler({
        	id: "[[${structure.id}]]",
        	url: "[(@{/deleteAssoStruct(structure=${structure.id})})]",
        	name: [[${structure.acronymOrName}]],
        	questionTitle: [[#{html.DeleteAssociatedStructure1(${structure.acronymOrName})}]],
        	questionText: [[#{html.AreYouSureToDelete(${structure.acronymOrName})}]],
        	successText: [[#{html.AssociatedStructureDeleted}]],
        	failureText: [[#{html.CannotDeleteAssociatedStructure}]],
        });
        /*[/]*/
    });
</script>
</html>