<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/general :: allBaseLibs}" />
<th:block th:replace="~{fragments/form :: formLibs}" />
<th:block th:replace="~{fragments/buttons :: ajaxButtons}" />
<th:block th:replace="~{fragments/buttons :: waitButtons}" />
<th:block th:replace="~{fragments/buttons :: interactiveDeletionProcess}" />

<th:block th:replace="~{fragments/nav :: conferenceListBar*(#{html.EditRankingOf(${conference.nameOrAcronym})})}"/>
 
<div class="card" th:if="${lastCoreIndex != null}">
	<div class="card-body">
		<p th:if="${lastCoreIndex != null}"
		   th:utext="#{html.CoreRanking} + ' ' + ${lastCoreIndex.toString()}"></p>
	</div>
</div>
<form id="form">
	<button id="btAdd" class="btn btn-warning mt-4 pr-4 pl-4"
		th:if="${changeEnabled}" th:utext="#{html.AddRanking}"></button>
	<th:block th:if="${changeEnabled && currentYear >= lastReferenceYear}">
		<div id="new-ranking-input-area" class="form-super-group form-super-group-new" style="display:none">
			<div class="form-group" th:replace="~{fragments/form :: comboInput*(year, #{html.Year}, ~{::option#option-year-new})}">
				<option id="option-year-new"
				        th:each="year : ${years}"
				        th:value="${year}"
				        th:utext="${year}"></option>
			</div>
			<div class="form-group" th:replace="~{fragments/form :: comboInput(coreIndex_new, #{html.CoreRanking0}, ~{::option#option-core-new})}">
				<option id="option-core-new" value="" th:utext="#{html.NotSpecified}"></option>
				<option id="option-core-new"
				        th:each="core : ${T(fr.ciadlab.labmanager.utils.ranking.CoreRanking).values()}"
				        th:value="${core.name}"
				        th:utext="${core.toString()}"></option>
			</div>
			<button th:id="${'btSave_new'}" type="button"
				class="btn btn-primary mt-4 pr-4 pl-4" th:if="${changeEnabled}"
				th:utext="#{html.Submit}"></button>
		</div>
	</th:block>
	<th:block th:each="rankingPair : ${qualityIndicators}"
	          th:with="ranking = ${rankingPair.value}">
		<div class="form-super-group form-super-group-active">
			<div class="form-group">
				<label class="col-form-label" th:utext="${ranking.referenceYear}"></label>
			</div>
			<div class="form-group" th:replace="~{fragments/form :: comboInput(${'coreIndex_' + ranking.referenceYear}, #{html.CoreRanking0}, ~{::option#option-core})}">
				<option id="option-core" value="" th:utext="#{html.NotSpecified}"></option>
				<option id="option-core"
				        th:each="core : ${T(fr.ciadlab.labmanager.utils.ranking.CoreRanking).values()}"
				        th:value="${core.name}"
				        th:selected="${core == ranking.coreIndex}"
				        th:utext="${core.toString()}"></option>
			</div>
			<button th:id="${'btSave_' + ranking.referenceYear}" type="button"
				class="btn btn-primary mt-4 pr-4 pl-4" th:if="${changeEnabled}"
				th:utext="#{html.Submit}"></button>
			<button th:id="${'TheDeleteButton_' + ranking.referenceYear}" type="button"
				class="btn btn-danger mt-4 pr-4 pl-4" th:if="${changeEnabled}"
				th:utext="#{html.DeleteRanking}"></button>
		</div>
	</th:block>
</form>
<script type="text/javascript" th:inline="javascript">
function addSavingButtonCallback(year, isNewRankingGroup) {
	attachSpinnerAjaxHandler({
		id: 'btSave_' + year,
		url: "[(${savingUrl})]",
		requestMethod: 'put',
		text: "[(#{html.Submit})]",
		prepareData: ($bt, formData) => {
			formData.append("conference", parseInt("[(${conference.id})]"));
			var iyear = year;
			if (isNewRankingGroup) {
				iyear = $('#comboInput_year option:selected').attr('value');
			}
			formData.append("year", iyear);
			var coreIndex = $('#comboInput_coreIndex_' + year + ' option:selected').attr('value');
			formData.append("coreIndex", coreIndex);
		},
		failureText: "[(#{html.ConferenceRankingSavingError})]",
		onSuccess: () => {
			Swal.fire(
					  "[(#{html.Success})]",
					  "[(#{html.ConferenceRankingSavingSuccess})]",
					  'success'
					).then(result => {
						location.reload();
					});
		},
	});
}
$(document).ready(function () {
    /*[# th:if="${changeEnabled}"]*/
	    /*[# th:if="${currentYear >= lastReferenceYear}"]*/
	$(document).on('click', '#btAdd', () => {
		$('#btAdd').prop("disabled", true);
		$('#new-ranking-input-area').show();
	    addSavingButtonCallback('new', true);
	});
		/*[/]*/
	    /*[# th:unless="${currentYear >= lastReferenceYear}"]*/
	$('#btAdd').prop("disabled", true);
		/*[/]*/
	    /*[# th:each="rankingPair : ${qualityIndicators}"]*/
    addSavingButtonCallback("[(${rankingPair.value.referenceYear})]", false);

	attachDeletionHandler({
		id: "[(${rankingPair.value.referenceYear})]",
		url: "[(${deletionUrl + '?conference=' + conference.id + '&year=' + rankingPair.value.referenceYear})]",
		elementNameCallback: () => { return "[(${rankingPair.value.referenceYear})]"; },
		questionTitle: "[(#{html.DeleteConferenceRanking})]",
		questionText: "[(#{html.AreYouSureToDeleteConferenceRanking(${conference.nameOrAcronym}, ${rankingPair.value.referenceYear})})]",
		successText: "[(#{html.ConferenceRankingDeleted})]",
		failureText: "[(#{html.CannotDeleteConferenceRanking(${conference.nameOrAcronym}, ${rankingPair.value.referenceYear})})]",
    });
    	/*[/]*/
    /*[/]*/
});
</script>
</html>