<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/general :: allBaseLibs}"/>
<th:block th:replace="~{fragments/libs :: bootstrap-datatable}"/>

<th:block th:replace="~{fragments/table :: adminTableDefinition(${changeEnabled})}"/>

<th:block th:replace="~{fragments/nav :: journalListBar}"/>

<a id="btAddJournal" class="btn btn-warning mt-4 pr-4 pl-4"
   th:if="${changeEnabled}" th:utext="#{html.AddJournal}"
   th:href="${URLS_edit}"></a>

<table th:replace="~{fragments/table :: adminTable(~{::thead}, ~{::tbody})}">
    <thead>
        <th th:utext="#{html.Id}"></th>
        <th th:utext="#{html.Name}"></th>
        <th th:utext="#{html.Publisher}"></th>
        <th th:utext="#{html.ISSN}"></th>
        <th th:utext="#{html.OpenAccess}"></th>
        <th th:utext="#{html.Scimago}"></th>
        <th th:utext="#{html.WoS}"></th>
        <th th:utext="#{html.ImpactFactor}"></th>
        <th th:utext="#{html.PapersCount}"></th>
        <th th:utext="#{html.Validated}"></th>
        <th th:text="#{html.Actions}"></th>
    </thead>
    <tbody>
        <tr th:each="journal : ${journals}">
            <td>
                <th:block th:utext="${journal.id}"></th:block>
            </td>
            <td th:with="urlObject=${journal.journalURLObject}">
                <a th:if="${urlObject != null}"
                   th:href="${journal.journalURL}"
                   th:utext="${journal.journalName}"></a>
                <th:block th:if="${urlObject == null}"
                          th:utext="${journal.journalName}"></th:block>
            </td>
            <td>
                <th:block th:utext="${journal.publisher}"></th:block>
            </td>
            <td>
                <th:block th:utext="${journal.getISSN()}"></th:block>
            </td>
            <td>
                <th:block th:if="${journal.openAccess != null && journal.openAccess.booleanValue}"
                          th:utext="#{html.yes}"></th:block>
                <th:block th:if="${journal.openAccess != null && !journal.openAccess.booleanValue}"
                          th:utext="#{html.no}"></th:block>
            </td>
            <td th:with="qindex=${journal.getScimagoQIndexByYear(currentYear)}">
            	<a th:href="@{/getJournalQualityIndicators(journal=${journal.id})}">
	                <th:block th:if="${qindex != null && qindex != T(fr.utbm.ciad.labmanager.utils.ranking.QuartileRanking).NR}"
	                          th:utext="${qindex.toString()}"></th:block>
            	</a>
            </td>
            <td th:with="qindex=${journal.getWosQIndexByYear(currentYear)}">
            	<a th:href="@{/getJournalQualityIndicators(journal=${journal.id})}">
	                <th:block th:if="${qindex != null && qindex != T(fr.utbm.ciad.labmanager.utils.ranking.QuartileRanking).NR}"
	                          th:utext="${qindex.toString()}"></th:block>
            	</a>
            </td>
            <td th:with="impactFactor=${journal.getImpactFactorByYear(currentYear)}">
				<th:block th:if="${impactFactor <= 0}" th:utext="${impactFactor}"></th:block>
            	<a th:href="@{/getJournalQualityIndicators(journal=${journal.id})}"
            	   th:if="${impactFactor > 0}">
	                <th:block th:utext="${impactFactor}"></th:block>
				</a>
            </td>
            <td>
                <th:block th:if="${!journal.hasPublishedPaper}" th:utext="0"></th:block>
                <a th:if="${journal.hasPublishedPaper}"
                   th:href="@{/publicationList(journal=${journal.id})}">
	                <th:block th:utext="${journal.getPublishedPapers.size}"></th:block></a>
            </td>
            <td>
            	<th:block th:if="${journal.validated}"><i style="color:green" class="fa-solid fa-check-circle">B</i></th:block>
            	<th:block th:unless="${journal.validated}"><i style="color:red" class="fa-solid fa-triangle-exclamation">A</i></th:block>
            </td>
            <td th:replace="~{fragments/table :: adminToolButtons(${journal.id}, ${journal.journalName},
            		#{html.EditJournal1(${journal.journalName})},
            		#{html.DeleteJournal1(${journal.journalName})},
            		~{::.admin-tool-buttons},
            		journal, journal, journal,
            		@{/getJournalData(id=${journal.id})} )}">
            	<a th:href="@{/journalRankingEditor(id=${journal.id})}"
				   th:if="${changeEnabled}"
				   class="noLink admin-tool-buttons">
            		<span class="fa-solid fa-ranking-star"
            		   th:title="#{html.EditRankingOf(${journal.journalName})}"
                       style="font-size:14pt"></span>
            	</a>
           		<span class="fa fa-ranking-star admin-tool-buttons"
				   th:unless="${changeEnabled}"
           		   th:title="#{html.EditRankingOf(${journal.journalName})}"
                   style="font-size:14pt"></span>
            </td>
        </tr>
    </tbody>
</table>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(() => {
    	initAdministrationTable({
            columns: 10,
    		actionWidth: '180px',
    	});
        /*[# th:if="${changeEnabled}" th:each="journal : ${journals}"]*/
        attachDeletionHandler({
        	id: "[[${journal.id}]]",
        	url: "[(@{/deleteJournal(journal=${journal.id})})]",
        	name: [[${journal.journalName}]],
        	questionTitle: [[#{html.DeleteJournal1(${journal.journalName})}]],
        	questionText: [[#{html.AreYouSureToDelete(${journal.journalName})}]],
        	successText: [[#{html.JournalDeleted}]],
        	failureText: [[#{html.CannotDeleteJournal}]],
        });
        /*[/]*/
    });
</script>
</html>