<!DOCTYPE html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/general :: allBaseLibs" />
<th:block th:replace="fragments/form :: formLibs" />
<th:block th:replace="fragments/buttons :: ajaxButtons" />
<th:block th:replace="fragments/buttons :: waitButtons" />
<th:block th:replace="fragments/buttons :: interactiveDeletionProcess" />

<form id="form">
	<button id="btAdd" class="btn btn-warning mt-4 pr-4 pl-4"
		th:if="${changeEnabled}" th:utext="#{html.AddMembership}"></button>
	<th:block th:if="${changeEnabled}">
		<div id="new-membership-input-area" class="form-super-group form-super-group-new" style="display:none">
			<div class="form-group" th:replace="fragments/form :: comboInput*(${'organization_' + minMembershipId}, #{html.Organization}, ~{::option#option-organization-new})">
				<option id="option-organization-new"
				        th:each="organization : ${organizations}"
				        th:selected="${preferredOrganization != null && organization.id == preferredOrganization.id}"
				        th:value="${organization.id}"
				        th:utext="${organization.acronymOrName}"></option>
			</div>
			<div class="form-group" th:replace="fragments/form :: comboInput*(${'status_' + minMembershipId}, #{html.Status}, ~{::option#option-status-new})">
				<option id="option-status-new"
				        th:each="status : ${T(fr.ciadlab.labmanager.entities.member.MemberStatus).values}"
				        th:selected="${preferredStatus != null && status == preferredStatus}"
				        th:value="${status.name}"
				        th:utext="${status.getLabel(locale)}"></option>
			</div>
			<div class="form-group" th:replace="fragments/form :: checkInput*(${'isMainPosition_' + minMembershipId}, #{html.MainPositionMembership}, #{html.MainPositionMembership2}, true)"></div>
			<div class="form-group" th:replace="fragments/form :: dateInput(${'memberSinceWhen_' + minMembershipId}, #{html.MemberSince}, '')"></div>
			<div class="form-group" th:replace="fragments/form :: dateInput(${'memberToWhen_' + minMembershipId}, #{html.MemberTo}, '')"></div>
			<div class="form-group" th:replace="fragments/form :: comboInput(${'cnuSection_' + minMembershipId}, #{html.CnuSection}, ~{::option#option-cnu-new})">
				<option id="option-cnu-new" value="" th:utext="#{html.NotSpecified}"></option>
				<option id="option-cnu-new"
				        th:each="cnuSection : ${T(fr.ciadlab.labmanager.utils.cnu.CnuSection).values}"
				        th:selected="${preferredCnuSection != null && cnuSection == preferredCnuSection}"
				        th:value="${cnuSection.number}"
				        th:utext="${cnuSection.number + ' - ' + cnuSection.getLabel(locale)}"></option>
			</div>
			<div class="form-group" th:replace="fragments/form :: comboInput(${'conrsSection_' + minMembershipId}, #{html.ConrsSection}, ~{::option#option-conrs-new})">
				<option id="option-conrs-new" value="" th:utext="#{html.NotSpecified}"></option>
				<option id="option-conrs-new"
				        th:each="conrsSection : ${T(fr.ciadlab.labmanager.utils.conrs.ConrsSection).values}"
				        th:selected="${preferredConrsSection != null && conrsSection == preferredConrsSection}"
				        th:value="${conrsSection.number}"
				        th:utext="${conrsSection.number + ' - ' + conrsSection.getLabel(locale)}"></option>
			</div>
			<div class="form-group" th:replace="fragments/form :: comboInput(${'frenchBap_' + minMembershipId}, #{html.FrenchBap}, ~{::option#option-fbap-new})">
				<option id="option-fbap-new" value="" th:utext="#{html.NotSpecified}"></option>
				<option id="option-fbap-new"
				        th:each="frenchBap : ${T(fr.ciadlab.labmanager.utils.bap.FrenchBap).values}"
				        th:selected="${preferredFrenchBap != null && frenchBap == preferredFrenchBap}"
				        th:value="${frenchBap.shortName}"
				        th:utext="${frenchBap.shortName + ' - ' + frenchBap.getLabel(locale)}"></option>
			</div>
			<button th:id="${'btSave_' + minMembershipId}" type="button"
				class="btn btn-primary mt-4 pr-4 pl-4"
				th:utext="#{html.Submit}"></button>
		</div>
	</th:block>
	<th:block th:each="membership : ${sortedMemberships}">
		<div th:class="${'form-super-group ' + (membership.former ? 'form-super-group-finished' : ((membership.future ? 'form-super-group-future' : 'form-super-group-active')))}">
			<div class="form-group" th:replace="fragments/form :: comboInput*(${'organization_' + membership.id}, #{html.Organization}, ~{::option#option-organization})">
				<option id="option-organization"
				        th:each="organization : ${organizations}"
				        th:selected="${membership != null && membership.researchOrganization.id == organization.id}"
				        th:value="${organization.id}"
				        th:utext="${organization.acronymOrName}"></option>
			</div>
			<div class="form-group" th:replace="fragments/form :: comboInput*(${'status_' + membership.id}, #{html.Status}, ~{::option#option-status})">
				<option id="option-status"
				        th:each="status : ${T(fr.ciadlab.labmanager.entities.member.MemberStatus).values}"
				        th:selected="${membership != null && membership.memberStatus == status}"
				        th:value="${status.name}"
				        th:utext="${status.getLabel(locale)}"></option>
			</div>
			<div class="form-group" th:replace="fragments/form :: checkInput*(${'isMainPosition_' + membership.id}, #{html.MainPositionMembership}, #{html.MainPositionMembership2}, ${membership.isMainPosition})"></div>
			<div class="form-group" th:replace="fragments/form :: dateInput(${'memberSinceWhen_' + membership.id}, #{html.MemberSince}, ${membership.memberSinceWhen == null ? '' : membership.memberSinceWhen.toString})"></div>
			<div class="form-group" th:replace="fragments/form :: dateInput(${'memberToWhen_' + membership.id}, #{html.MemberTo}, ${membership.memberToWhen == null ? '' : membership.memberToWhen.toString})"></div>
			<div class="form-group" th:replace="fragments/form :: comboInput(${'cnuSection_' + membership.id}, #{html.CnuSection}, ~{::option#option-cnu})">
				<option id="option-cnu" value="" th:utext="#{html.NotSpecified}"></option>
				<option id="option-cnu"
				        th:each="cnuSection : ${T(fr.ciadlab.labmanager.utils.cnu.CnuSection).values}"
				        th:selected="${membership != null && membership.cnuSection == cnuSection}"
				        th:value="${cnuSection.number}"
				        th:utext="${cnuSection.number + ' - ' + cnuSection.getLabel(locale)}"></option>
			</div>
			<div class="form-group" th:replace="fragments/form :: comboInput(${'conrsSection_' + membership.id}, #{html.ConrsSection}, ~{::option#option-conrs})">
				<option id="option-conrs" value="" th:utext="#{html.NotSpecified}"></option>
				<option id="option-conrs"
				        th:each="conrsSection : ${T(fr.ciadlab.labmanager.utils.conrs.ConrsSection).values}"
				        th:selected="${membership != null && membership.conrsSection == conrsSection}"
				        th:value="${conrsSection.number}"
				        th:utext="${conrsSection.number + ' - ' + conrsSection.getLabel(locale)}"></option>
			</div>
			<div class="form-group" th:replace="fragments/form :: comboInput(${'frenchBap_' + membership.id}, #{html.FrenchBap}, ~{::option#option-fbap})">
				<option id="option-fbap" value="" th:utext="#{html.NotSpecified}"></option>
				<option id="option-fbap"
				        th:each="frenchBap : ${T(fr.ciadlab.labmanager.utils.bap.FrenchBap).values}"
				        th:selected="${membership != null && membership.frenchBap == frenchBap}"
				        th:value="${frenchBap.shortName}"
				        th:utext="${frenchBap.shortName + ' - ' + frenchBap.getLabel(locale)}"></option>
			</div>
			<button th:id="${'btSave_' + membership.id}" type="button"
				class="btn btn-primary mt-4 pr-4 pl-4" th:if="${changeEnabled}"
				th:utext="#{html.Submit}"></button>
			<button th:id="${'TheDeleteButton_' + membership.id}" type="button"
				class="btn btn-danger mt-4 pr-4 pl-4" th:if="${changeEnabled}"
				th:utext="#{html.DeleteMembership}"></button>
		</div>
	</th:block>
</form>
<script th:inline="javascript">
function addSavingButtonCallback(membershipId, isNewMembership) {
	attachSpinnerAjaxHandler({
		id: 'btSave_' + membershipId,
		url: "[(${savingUrl})]",
		text: "[(#{html.Submit})]",
		prepareData: ($bt, formData) => {
			formData.append("person", parseInt("[(${person.id})]"));
			if (!isNewMembership) {
				formData.append("membership", membershipId);
			}
			formData.append("organization", $('#comboInput_organization_' + membershipId + ' option:selected').attr('value'));
			formData.append("status", $('#comboInput_status_' + membershipId + ' option:selected').attr('value'));
			var checked = $('#checkInput_isMainPosition_' + membershipId).is(':checked');
			formData.append("isMainPosition", checked);
			formData.append("memberSinceWhen", $('#dateInput_memberSinceWhen_' + membershipId).val());
			formData.append("memberToWhen", $('#dateInput_memberToWhen_' + membershipId).val());
			formData.append("cnuSection", $('#comboInput_cnuSection_' + membershipId + ' option:selected').attr('value'));
			formData.append("conrsSection", $('#comboInput_conrsSection_' + membershipId + ' option:selected').attr('value'));
			formData.append("frenchBap", $('#comboInput_frenchBap_' + membershipId + ' option:selected').attr('value'));
		},
		failureText: "[(#{html.MembershipSavingError})]",
		onSuccess: () => {
			Swal.fire(
					  "[(#{html.Success})]",
					  "[(#{html.MembershipSavingSuccess})]",
					  'success'
					).then(result => {
						location.reload();
					});
		},
	});
}
function getOrganizationName(id) {
	return $('comboInput_organization_' + id + " option:selected").text();
}


$(document).ready(function () {
    /*[# th:if="${changeEnabled}"]*/
	$(document).on('click', '#btAdd', () => {
		$('#btAdd').prop("disabled", true);
		$('#new-membership-input-area').show();
	    addSavingButtonCallback("[(${minMembershipId})]", true);
	});

	    /*[# th:each="membership : ${sortedMemberships}"]*/
    addSavingButtonCallback("[(${membership.id})]", false);

	attachDeletionHandler({
		id: "[(${membership.id})]",
		url: "[(${deletionUrl + '?id=' + membership.id})]",
		elementNameCallback: () => { return getOrganizationName("[(${membership.id})]"); },
		questionTitle: "[(#{html.DeleteMembership})]",
		questionText: "[(#{html.AreYouSureToDeleteMembership(${person.fullName}, ${membership.researchOrganization.acronymOrName}, ${membership.memberStatus.getLabel(locale)})})]",
		successText: "[(#{html.MembershipDeleted})]",
		failureText: "[(#{html.CannotDeleteMembership})]",
    });
    	/*[/]*/
    /*[/]*/
});
</script>
</html>