<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/general :: allBaseLibs}" />
<th:block th:replace="~{fragments/form :: formLibs}" />
<th:block th:replace="~{fragments/buttons :: ajaxButtons}" />
<th:block th:replace="~{fragments/buttons :: waitButtons}" />
<th:block th:replace="~{fragments/buttons :: interactiveDeletionProcess}" />
<th:block th:replace="~{fragments/formdynlist :: all}" />

<th:block th:replace="~{fragments/nav :: personListBar*(#{html.EditMemberships(${person.fullName})})}"/>

<form id="form">
	<button id="btAdd" class="btn btn-warning mt-4 pr-4 pl-4"
		th:if="${changeEnabled}" th:utext="#{html.AddMembership}"></button>
	<th:block th:if="${changeEnabled}">
		<div id="new-membership-input-area" class="form-super-group form-super-group-new" style="display:none">
			<div class="form-group" th:replace="~{fragments/form :: comboInput*(${'organization_' + minMembershipId}, #{html.Organization}, ~{::option#option-organization-new})}">
				<option id="option-organization-new"
				        th:each="organization : ${organizations}"
				        th:selected="${preferredOrganization != null && organization.id == preferredOrganization.id}"
				        th:value="${organization.id}"
				        th:utext="${organization.acronym + ' - ' + organization.name}"></option>
			</div>
			<div class="form-group" th:replace="~{fragments/form :: comboInputEmpty*(${'organizationAddress_' + minMembershipId}, #{html.OrganizationAddress})}">
			</div>
			<div class="form-group" th:replace="~{fragments/form :: comboInput*(${'status_' + minMembershipId}, #{html.Status}, ~{::option#option-status-new})}">
				<option id="option-status-new"
				        th:each="status : ${T(fr.ciadlab.labmanager.entities.member.MemberStatus).values()}"
				        th:selected="${preferredStatus != null && status == preferredStatus}"
				        th:value="${status.name}"
				        th:utext="${status.getLabel(person.gender) + (status.isPhDOwner() ? ' (PhD)' : '')}"></option>
			</div>
			<div class="form-group" th:replace="~{fragments/form :: checkInput*(${'permanentPosition_' + minMembershipId}, #{html.PermanentPosition}, #{html.PermanentPosition}, false)}"></div>
			<div class="form-group" th:replace="~{fragments/form :: checkInput*(${'isMainPosition_' + minMembershipId}, #{html.MainPositionMembership}, #{html.MainPositionMembership2}, true)}"></div>
			<div class="form-group" th:replace="~{fragments/form :: dateInput(${'memberSinceWhen_' + minMembershipId}, #{html.MemberSince}, '')}"></div>
			<div class="form-group" th:replace="~{fragments/form :: dateInput(${'memberToWhen_' + minMembershipId}, #{html.MemberTo}, '')}"></div>
			<div class="form-group" th:replace="~{fragments/form :: comboInput(${'responsibility_' + minMembershipId}, #{html.Responsibility(${person.fullName})}, ~{::option#option-responsibility-new})}">
				<option id="option-responsibility-new" value="" th:utext="#{html.NotSpecified}"></option>
				<option id="option-responsibility-new"
				        th:each="responsibility : ${allResponsabilities.entrySet()}"
				        th:selected="${preferredResponsibility != null && responsibility.value == preferredResponsibility}"
				        th:value="${responsibility.value.name}"
				        th:utext="${responsibility.value.isSpecific ? (responsibility.key + ' *') : responsibility.key}"></option>
			</div>
			<div class="form-group" th:replace="~{fragments/form :: comboInput(${'cnuSection_' + minMembershipId}, #{html.CnuSection}, ~{::option#option-cnu-new})}">
				<option id="option-cnu-new" value="" th:utext="#{html.NotSpecified}"></option>
				<option id="option-cnu-new"
				        th:each="cnuSection : ${T(fr.ciadlab.labmanager.utils.cnu.CnuSection).values()}"
				        th:selected="${preferredCnuSection != null && cnuSection == preferredCnuSection}"
				        th:value="${cnuSection.number}"
				        th:utext="${cnuSection.number + ' - ' + cnuSection.getLabel()}"></option>
			</div>
			<div class="form-group" th:replace="~{fragments/form :: comboInput(${'conrsSection_' + minMembershipId}, #{html.ConrsSection}, ~{::option#option-conrs-new})}">
				<option id="option-conrs-new" value="" th:utext="#{html.NotSpecified}"></option>
				<option id="option-conrs-new"
				        th:each="conrsSection : ${T(fr.ciadlab.labmanager.utils.conrs.ConrsSection).values()}"
				        th:selected="${preferredConrsSection != null && conrsSection == preferredConrsSection}"
				        th:value="${conrsSection.number}"
				        th:utext="${conrsSection.number + ' - ' + conrsSection.getLabel()}"></option>
			</div>
			<div class="form-group" th:replace="~{fragments/form :: comboInput(${'frenchBap_' + minMembershipId}, #{html.FrenchBap}, ~{::option#option-fbap-new})}">
				<option id="option-fbap-new" value="" th:utext="#{html.NotSpecified}"></option>
				<option id="option-fbap-new"
				        th:each="frenchBap : ${T(fr.ciadlab.labmanager.utils.bap.FrenchBap).values()}"
				        th:selected="${preferredFrenchBap != null && frenchBap == preferredFrenchBap}"
				        th:value="${frenchBap.shortName}"
				        th:utext="${frenchBap.shortName + ' - ' + frenchBap.getLabel()}"></option>
			</div>
			<div class="form-group" th:replace="~{fragments/formdynlist :: dynamicDataList(${'scientificAxes_' + minMembershipId}, #{html.MembershipScientificAxes}, #{html.AddMembershipScientificAxis})}"></div>
			<button th:id="${'btSave_' + minMembershipId}" type="button"
				class="btn btn-primary mt-4 pr-4 pl-4"
				th:utext="#{html.Submit}"></button>
		</div>
	</th:block>
	<th:block th:each="membership : ${sortedMemberships}">
		<div th:id="${'editorblock' + membership.id}"
		     th:class="${'form-super-group ' + (membership.former ? 'form-super-group-finished' : ((membership.future ? 'form-super-group-future' : 'form-super-group-active')))}">
			<div class="form-group" th:replace="~{fragments/form :: comboInput*(${'organization_' + membership.id}, #{html.Organization}, ~{::option#option-organization})}">
				<option id="option-organization"
				        th:each="organization : ${organizations}"
				        th:selected="${membership != null && membership.researchOrganization.id == organization.id}"
				        th:value="${organization.id}"
				        th:utext="${organization.acronym + ' - ' + organization.name}"></option>
			</div>
			<div class="form-group" th:replace="~{fragments/form :: comboInputEmpty*(${'organizationAddress_' + membership.id}, #{html.OrganizationAddress})}">
			</div>
			<div class="form-group" th:replace="~{fragments/form :: comboInput*(${'status_' + membership.id}, #{html.Status}, ~{::option#option-status})}">
				<option id="option-status"
				        th:each="status : ${T(fr.ciadlab.labmanager.entities.member.MemberStatus).values()}"
				        th:selected="${membership != null && membership.memberStatus == status}"
				        th:value="${status.name}"
				        th:utext="${status.getLabel() + (status.isPhDOwner() ? ' (PhD)' : '')}"></option>
			</div>
			<div class="form-group" th:replace="~{fragments/form :: checkInput*(${'permanentPosition_' + membership.id}, #{html.PermanentPosition}, #{html.PermanentPosition}, ${membership.isPermanentPosition})}"></div>
			<div class="form-group" th:replace="~{fragments/form :: checkInput*(${'isMainPosition_' + membership.id}, #{html.MainPositionMembership}, #{html.MainPositionMembership2}, ${membership.isMainPosition})}"></div>
			<div class="form-group" th:replace="~{fragments/form :: dateInput(${'memberSinceWhen_' + membership.id}, #{html.MemberSince}, ${membership.memberSinceWhen == null ? '' : membership.memberSinceWhen.toString()})}"></div>
			<div class="form-group" th:replace="~{fragments/form :: dateInput(${'memberToWhen_' + membership.id}, #{html.MemberTo}, ${membership.memberToWhen == null ? '' : membership.memberToWhen.toString()})}"></div>
			<div class="form-group" th:replace="~{fragments/form :: comboInput(${'responsibility_' + membership.id}, #{html.Responsibility(${person.fullName})}, ~{::option#option-responsibility})}">
				<option id="option-responsibility" value="" th:utext="#{html.NotSpecified}"></option>
				<option id="option-responsibility"
				        th:each="responsibility : ${allResponsabilities.entrySet()}"
				        th:selected="${membership != null && membership.responsibility == responsibility.value}"
				        th:value="${responsibility.value.name}"
				        th:utext="${responsibility.value.isSpecific() ? (responsibility.key + ' *') : responsibility.key}"></option>
			</div>
			<div class="form-group" th:replace="~{fragments/form :: comboInput(${'cnuSection_' + membership.id}, #{html.CnuSection}, ~{::option#option-cnu})}">
				<option id="option-cnu" value="" th:utext="#{html.NotSpecified}"></option>
				<option id="option-cnu"
				        th:each="cnuSection : ${T(fr.ciadlab.labmanager.utils.cnu.CnuSection).values()}"
				        th:selected="${membership != null && membership.cnuSection == cnuSection}"
				        th:value="${cnuSection.number}"
				        th:utext="${cnuSection.number + ' - ' + cnuSection.getLabel()}"></option>
			</div>
			<div class="form-group" th:replace="~{fragments/form :: comboInput(${'conrsSection_' + membership.id}, #{html.ConrsSection}, ~{::option#option-conrs})}">
				<option id="option-conrs" value="" th:utext="#{html.NotSpecified}"></option>
				<option id="option-conrs"
				        th:each="conrsSection : ${T(fr.ciadlab.labmanager.utils.conrs.ConrsSection).values()}"
				        th:selected="${membership != null && membership.conrsSection == conrsSection}"
				        th:value="${conrsSection.number}"
				        th:utext="${conrsSection.number + ' - ' + conrsSection.getLabel()}"></option>
			</div>
			<div class="form-group" th:replace="~{fragments/form :: comboInput(${'frenchBap_' + membership.id}, #{html.FrenchBap}, ~{::option#option-fbap})}">
				<option id="option-fbap" value="" th:utext="#{html.NotSpecified}"></option>
				<option id="option-fbap"
				        th:each="frenchBap : ${T(fr.ciadlab.labmanager.utils.bap.FrenchBap).values()}"
				        th:selected="${membership != null && membership.frenchBap == frenchBap}"
				        th:value="${frenchBap.shortName}"
				        th:utext="${frenchBap.shortName + ' - ' + frenchBap.getLabel()}"></option>
			</div>
			<div class="form-group" th:replace="~{fragments/formdynlist :: dynamicDataList(${'scientificAxes_' + membership.id}, #{html.MembershipScientificAxes}, #{html.AddMembershipScientificAxis})}"></div>
			<button th:id="${'btSave_' + membership.id}" type="button"
				class="btn btn-primary mt-4 pr-4 pl-4" th:if="${changeEnabled}"
				th:utext="#{html.Submit}"></button>
			<button th:id="${'TheDeleteButton_' + membership.id}" type="button"
				class="btn btn-danger mt-4 pr-4 pl-4" th:if="${changeEnabled}"
				th:utext="#{html.DeleteMembership}"></button>
		</div>
	</th:block>
</form>
<script type="text/javascript" th:inline="javascript">
function addSavingButtonCallback(membershipId, isNewMembership) {
	attachSpinnerAjaxHandler({
		id: 'btSave_' + membershipId,
		url: "[(${savingUrl})]",
		requestMethod: 'put',
		text: "[(#{html.Submit})]",
		prepareData: ($bt, formData) => {
			formData.append("person", parseInt("[(${person.id})]"));
			if (!isNewMembership) {
				formData.append("membership", membershipId);
			}
			formData.append("organization", $('#comboInput_organization_' + membershipId + ' option:selected').attr('value'));
			formData.append("organizationAddress", $('#comboInput_organizationAddress_' + membershipId + ' option:selected').attr('value'));
			formData.append("status", $('#comboInput_status_' + membershipId + ' option:selected').attr('value'));
			var checked = $('#checkInput_permanentPosition_' + membershipId).is(':checked');
			formData.append("permanentPosition", checked);
			checked = $('#checkInput_isMainPosition_' + membershipId).is(':checked');
			formData.append("isMainPosition", checked);
			formData.append("memberSinceWhen", $('#dateInput_memberSinceWhen_' + membershipId).val());
			formData.append("memberToWhen", $('#dateInput_memberToWhen_' + membershipId).val());
			formData.append("responsibility", $('#comboInput_responsibility_' + membershipId + ' option:selected').attr('value'));
			formData.append("cnuSection", $('#comboInput_cnuSection_' + membershipId + ' option:selected').attr('value'));
			formData.append("conrsSection", $('#comboInput_conrsSection_' + membershipId + ' option:selected').attr('value'));
			formData.append("frenchBap", $('#comboInput_frenchBap_' + membershipId + ' option:selected').attr('value'));
			dynamicDataList_fillFormData(formData, "scientificAxes_" + membershipId, "scientificAxes");
		},
		failureText: "[(#{html.MembershipSavingError})]",
		onSuccess: () => {
			Swal.fire(
					  "[(#{html.Success})]",
					  "[(#{html.MembershipSavingSuccess})]",
					  'success'
					).then(result => {
						location.reload();
					});
		},
	});
}
function getOrganizationName(id) {
	return $('comboInput_organization_' + id + " option:selected").text();
}
var ALL_ADDRESSES_PER_ORGANIZATION = {
    /*[# th:each="organization : ${organizations}"]*/
    "[(${organization.id})]": {
        /*[# th:each="address : ${organization.addresses}"]*/
        "[(${address.id})]": [[${address.name}]],
        /*[/]*/		
    },
    /*[/]*/		
};
function updateAddressCombo(id, selectAddress) {
	var orga = $('#comboInput_organization_' + id + ' option:selected').attr('value');
	var $combo = $('#comboInput_organizationAddress_' + id);
	$combo.empty();
	var $option0 = $("<option/>").attr('value', '').text([[#{html.NotSpecified}]]);
	$combo.append($option0);
	var addresses = ALL_ADDRESSES_PER_ORGANIZATION[orga];
	$.each(addresses, (index, value) => {
		var $option1 = $("<option/>").attr('value', index).text(value);
		if (selectAddress && selectAddress == index) {
			$option1 = $option1.attr('selected', 'true');
		}
		$combo.append($option1);
	});
}
function addOrganizationChangeCallback(id) {
	var $combo = $('#comboInput_organization_' + id);
	$combo.change(() => {
		updateAddressCombo(id, null);
	});
}
const ALL_SCIENTIFIC_AXIS_NAMES = new Map();
var ALL_SCIENTIFIC_AXIS_OPTIONS = '';
var scientificAxisName;
/*[# th:each="axis : ${sortedScientificAxes}"]*/
scientificAxisName = [[${axis.acronym}]] + ' - ' + [[${axis.name}]];
ALL_SCIENTIFIC_AXIS_NAMES.set("[(${axis.id})]", scientificAxisName);
ALL_SCIENTIFIC_AXIS_OPTIONS = ALL_SCIENTIFIC_AXIS_OPTIONS + '<option value="[(${axis.id})]">' + scientificAxisName + '</option>';
/*[/]*/
function addScientificAxisCallback(membershipId, isNewMembership, inputAxes) {
	initDynamicDataList({
		name: "scientificAxes_" + membershipId,
		columnCount: 1,
		deleteLabel: [[#{html.DeleteMembershipScientificAxis}]],
		deleteTitle: [[#{html.Delete}]],
		deleteMessage: [[#{html.AreYouSureToDelete}]],
		data: inputAxes,
		dataName: (dt) => {
			return dt['name'];
		},
		rowBuilder: (data, target, index) => {
			target.append(data['name']);
		},
		dataConverter: (formData, fieldName, data) => {
			var identifierList = [];
			$.each(data, (index, element) => {
				identifierList.push(element['id']);
			});
			formData.append(fieldName, identifierList);
		},
		dataCreator: (doCreateFct) => {
			Swal.fire({
				title: [[#{html.AddMembershipScientificAxis}]],
				icon: 'question',
				showCancelButton: true,
				confirmButtonColor: '#d33',
				cancelButtonColor: '#99cc00',
				confirmButtonText: [[#{html.Add}]],
				grow: 'row',
				html: "[(#{html.MembershipScientificAxis})]<br/>"
					+ '<select id="swal-input1" class="swal2-input">'
					+ ALL_SCIENTIFIC_AXIS_OPTIONS
					+ '</select>',
				preConfirm: () => {
					var pid = document.getElementById("swal-input1").value;
					return {
						id: pid,
						name: ALL_SCIENTIFIC_AXIS_NAMES.get(pid),
					};
				},
			}).then(result => {
				if (result.isConfirmed) {
					var value = result.value;
					doCreateFct(value);
				}
			});
		},
	});
}
$(document).ready(function () {
    /*[# th:if="${changeEnabled}"]*/
	$(document).on('click', '#btAdd', () => {
		$('#btAdd').prop("disabled", true);
		$('#new-membership-input-area').show();
	    addSavingButtonCallback("[(${minMembershipId})]", true);
		addScientificAxisCallback("[(${minMembershipId})]", true, []);
	});
	updateAddressCombo("[(${minMembershipId})]", null);
	addOrganizationChangeCallback("[(${minMembershipId})]");
	    /*[# th:each="membership : ${sortedMemberships}"]*/
	updateAddressCombo("[(${membership.id})]",
		"[(${membership.organizationAddress != null ? membership.organizationAddress.id : ''})]");
	addOrganizationChangeCallback("[(${membership.id})]");
	var inputAxes = [
		/*[# th:each="axis : ${membership.scientificAxes}"]*/
        {
			id: "[(${axis.id})]",
			name: [[${axis.acronym}]] + ' - ' + [[${axis.name}]],
        },
	    /*[/]*/
	];
	addScientificAxisCallback("[(${membership.id})]", false, inputAxes);
    addSavingButtonCallback("[(${membership.id})]", false);
	attachDeletionHandler({
		id: "[(${membership.id})]",
		url: "[(${deletionUrl + '?id=' + membership.id})]",
		elementNameCallback: () => { return getOrganizationName("[(${membership.id})]"); },
		questionTitle: "[(#{html.DeleteMembership})]",
		questionText: "[(#{html.AreYouSureToDeleteMembership(${person.fullName}, ${membership.researchOrganization.acronymOrName}, ${membership.memberStatus.getLabel()})})]",
		successText: "[(#{html.MembershipDeleted})]",
		failureText: "[(#{html.CannotDeleteMembership})]",
    });
    	/*[/]*/
    /*[/]*/
});
/*[# th:if="${gotoName != null}"]*/
$(window).on('load', () => {
	setTimeout( () => {
	    const gotoElement = document.getElementById("[(${'editorblock' + gotoName})]");
	    gotoElement.scrollIntoView();
	}, 200);
});
/*[/]*/
</script>
</html>