<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/general :: allBaseLibs}"/>
<th:block th:replace="~{fragments/form :: formLibs}"/>
<th:block th:replace="~{fragments/formfileinput :: all}"/>
<th:block th:replace="~{fragments/buttons :: ajaxButtons}"/>
<th:block th:replace="~{fragments/buttons :: waitButtons}"/>
<th:block th:replace="~{fragments/buttons :: interactiveDeletionProcess}"/>
<th:block th:replace="~{fragments/libs :: bootstrap-datatable}"/>

<th:block th:replace="~{fragments/table :: adminTableDefinition(${changeEnabled})}"/>

<th:block th:replace="~{fragments/nav :: simpleBar(#{html.DatabaseBibTeXToJsonExport})}"/>

<form th:replace="~{fragments/form :: genericForm2(true, #{html.GenerateJson}, ~{::.form-group})}">
	<div class="form-group" th:replace="~{fragments/formfileinput :: fileUploadBibTeX(bibtexFile, #{html.ImportBibTeXFiles})}"></div>
	<div class="form-group" th:replace="~{fragments/form :: checkInput(downloadJson, #{html.DownloadJson}, #{html.DownloadJson}, false)}"></div>
</form>
<div id="analysisArea" style="display:none">
	<hr/>
	<table th:replace="~{fragments/table :: adminTable(~{::thead}, ~{::tbody})}">
	    <thead>
	        <th></th>
	        <th th:utext="#{html.Id}"></th>
	        <th th:utext="#{html.Title}"></th>
	        <th th:utext="#{html.Authors}"></th>
	        <th th:utext="#{html.Type}"></th>
	        <th th:utext="#{html.Year}"></th>
	        <th th:utext="#{html.WherePublished}"></th>
	        <th th:utext="#{html.DOI}"></th>
	        <th th:utext="#{html.ISSN}"></th>
	        <th th:utext="#{html.Actions}"></th>
	    </thead>
	    <tbody>
	    </tbody>
	</table>
</div>
<script type="text/javascript" th:inline="javascript">
$(document).ready(() => {
	// Initialize file upload library
	initFileUploadSingleBibTeX({
		name: 'bibtexFile',
	});

	attachSpinnerAjaxHandler({
		id: "submitButton",
		url: "[(${formActionUrl})]",
		text: "[(#{html.GenerateJson})]",
		prepareData: ($bt, formData) => {
			$('#analysisArea').hide();
			var files = $('#fileUploadBibTeX_bibtexFile')[0].files;
			if (files.length > 0) {
				var file = files[0];
				var fileName = file.name;
				formData.append("bibtexFile", file, fileName);
			    formData.append("upload_file", true);
			}
		    formData.append("markDuplicateTitles", ! $('#checkInput_downloadJson').is(':checked'));
		},
		timeout: 300000, // 5 minutes
		dataType: 'text',
		failureText: "[(#{html.ImportBibTeXError3})]",
		onSuccess: ($bt, answer) => {
			if ($('#checkInput_downloadJson').is(':checked')) {
				download('database.json', answer, 'application/json');
			} else {
				var $dataArea = $('#analysisArea');
				var jsonAnswer = JSON.parse(answer);
				var jsonPublications = jsonAnswer.publications;
				var $table = null;
				if ($dataArea.attr('isInitialized') !== 'true') {
					$dataArea.attr('isInitialized', 'true');
					$table = initAdministrationTable({
						data: jsonPublications,
						tableParams: {
							rowCallback: (row, data, index) => {
							    if ('_duplicatedEntry' in data) {
							    	var $row = $('td', row);
							    	if (data['_duplicatedEntry'] <= 0) {
								    	$row.css('background-color', 'red');
								    	$row.css('color', 'white');
							    	} else if (data['_duplicatedEntry'] == 1) {
								    	$row.css('background-color', 'orange');
								    	$row.css('color', 'white');
							    	}
							    }
							},
						},
						columns: [
							{// col-0
								searchable: false,
								visible: false,
								defaultContent: 100,
								render: (data, type, row) => {
									if ('_duplicatedEntry' in row) {
										return row['_duplicatedEntry'];
									}
									return 100;
								},
							},
							{// col-1
								searchable: false,
								defaultContent: '<font color="magenta">???</font>',
								render: (data, type, row) => {
									return row['@id'];
								},
							},
							{// col-2
								searchable: true,
								defaultContent: '<font color="magenta">???</font>',
								render: (data, type, row) => {
									if (row['manualValidationForced']) {
										return row['title'] + ' <span class="fa-solid fa-user-check" style="font-size:14pt;"></span>';
									}
									return row['title'];
								},
							},
							{// col-3
								searchable: true,
								defaultContent: '<font color="magenta">???</font>',
								render: (data, type, row) => {
									var theAuthors = '';
									$.each(row['authors'], (index, authorData) => {
										if (theAuthors) {
											theAuthors += ', ';
										}
										var aut = jsonAnswer['persons'].find(element => element['@id'] === authorData['@id']);
										if (aut) {
											theAuthors += aut['firstName'] + ' ' + aut['lastName'];
										} else {
											console.error("Unknown author:" + JSON.stringify(authorData));
											theAuthors += '<font color="magenta">??? = ' + JSON.stringify(authorData) + '</font>';
										}
									});
									return theAuthors;
								},
							},
							{// col-4
								searchable: false,
								defaultContent: '<font color="magenta">???</font>',
								render: (data, type, row) => {
									return row['type'];
								},
							},
							{// col-5
								searchable: false,
								defaultContent: '<font color="magenta">???</font>',
								render: (data, type, row) => {
									return row['publicationYear'];
								},
							},
							{// col-6
								searchable: false,
								defaultContent: '<font color="magenta">???</font>',
								render: (data, type, row) => {
									if (row['journal']) {
										var jj = jsonAnswer['journals'].find(element => element['@id'] === row['journal']['@id']);
										if (jj) {
											return jj['journalName'] + ', ' + jj['publisher'];
										} else {
											console.error("Unknown journal with id:" + row['journal']['@id']);
											return '<font color="magenta">???</font>';
										}
									} else if (row['scientificEventName']) {
										return row['scientificEventName'];
									} else if (row['bookTitle']) {
										return row['bookTitle'];
									} else if (row['institution']) {
										return row['institution'];
									} else if (row['publisher']) {
										return row['publisher'];
									} else if (row['howPublished']) {
										return row['howPublished'];
									} else {
										console.error("Unknown publication source for:" + JSON.stringify(row));
										return '<font color="magenta">???</font>';
									}
								},
							},
							{// col-7
								searchable: false,
								defaultContent: '',
								render: (data, type, row) => {
									return row['doi'];
								},
							},
							{// col-8
								searchable: false,
								defaultContent: '',
								render: (data, type, row) => {
									return row['issn'];
								},
							},
							{// col-9
								searchable: false,
								defaultContent: '',
								render: (data, type, row) => {
									if (row['_database-id']) {
								     	var editButton = '<a href="[(${URLS_edit})]' + row['_database-id']
								     		+ '" class="noLink"><span class="fa-solid fa-pencil" style="font-size:14pt"></span></a>';
								     	var deleteButton = ' <span id="TheDeleteButton_' + row['_database-id']
								     		+ '"><span class="fa-solid fa-trash" style="font-size:14pt;cursor: pointer;"></span></span>';
										attachDeletionHandler({
											id: row['_database-id'],
											url: "[(@{/deletePublication(publication)})]=" + row['_database-id'],
											name: row['title'],
											questionTitle: [[#{html.DeletePublication1}]].format(row['title']),
											questionText: [[#{html.AreYouSureToDelete}]].format(row['title']),
											successText: [[#{html.PublicationDeleted}]],
											failureText: [[#{html.CannotDeletePublication}]],
									    });
								     	return editButton + deleteButton;
									}
									return '';
								},
							},
						],
						actionColumn: false,
						order: [ [0, 'asc'], [2, 'asc'], [5, 'desc'], [4, 'asc'] ],
					});
				} else {
					$table = $("table[[${uuid}]]").DataTable();
					$table.clear();
					$table.rows.add(jsonPublications);
					$table.draw();
				}
				$dataArea.show();
			}
		},
	});
});
</script>
</html>