<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/general :: allBaseLibs" />
<th:block th:replace="fragments/form :: formLibs" />

<th:block th:if="${organization != null}">
	<th:block th:replace="fragments/nav :: organizationListBar*(#{html.EditOrganization1(${organization.acronymOrName})})"/>
</th:block>
<th:block th:if="${organization == null}">
	<th:block th:replace="fragments/nav :: organizationListBar*(#{html.AddOrganization})"/>
</th:block>

<form th:replace="fragments/form :: entityForm(organization, ${organization == null ? '' : organization.id}, ${formActionUrl}, ${formRedirectUrl}, #{html.OrganizationSavingError}, ~{::.form-group})">
	<div class="form-group" th:replace="fragments/form :: textInput*(acronym, #{html.Acronym}, #{html.PlaceHolderOrganizationAcronym}, ${organization != null ? organization.acronym : ''})"></div>
	<div class="form-group" th:replace="fragments/form :: textInput*(name, #{html.Name}, #{html.PlaceHolderOrganizationName}, ${organization != null ? organization.name : ''})"></div>
	<div class="form-group" th:replace="fragments/form :: comboInput*(type, #{html.Type}, ~{::option#option-type})">
		<option id="option-type"
		        th:each="type : ${T(fr.ciadlab.labmanager.entities.organization.ResearchOrganizationType).values}"
		        th:selected="${(organization == null && type == defaultOrganizationType) || (organization != null && organization.type == type)}"
		        th:value="${type.name}"
		        th:utext="${type.getLabel()}"></option>
	</div>
	<div class="form-group" th:replace="fragments/form :: comboInput*(country, #{html.Country}, ~{::option#option-country})">
		<option id="option-country"
		        th:each="country : ${T(org.arakhne.afc.util.CountryCode).values}"
		        th:selected="${(organization == null && country == defaultCountry) || (organization != null && organization.country == country)}"
		        th:value="${country.name}"
		        th:utext="#{html.CountryNameInList(${countryLabels.get(country)},${country.code})}"></option>
	</div>
	<div class="form-group" th:replace="fragments/form :: textInput(organizationURL, #{html.WebsiteAddress}, #{html.PlaceHolderOrganizationURL}, ${organization != null ? organization.organizationURL : ''})"></div>
	<div class="form-group" th:replace="fragments/form :: comboInput(superOrganization, #{html.SuperOrganization}, ~{::option#option-sorg})">
		<option id="option-sorg"
		        th:selected="${organization == null || organization.superOrganization == null}"
		        value="0" th:utext="#{html.NoSuperOrganization}"></option>
		<option id="option-sorg"
		        th:each="otherOrganization : ${otherOrganizations}"
		        th:selected="${organization != null && organization.superOrganization != null && organization.superOrganization.id == otherOrganization.id}"
		        th:value="${otherOrganization.id}"
		        th:utext="${otherOrganization.acronym + ' - ' + otherOrganization.name}"></option>
	</div>
</form>
<script th:inline="javascript">
$(document).ready(function () {
    $('#form:first').validate({
        rules: {
        	acronym: {
                required: true,
                minlength: 2
            },
            name: {
                required: true,
                minlength: 2
            },
            organizationURL: {
                url: true
            }
        },
        messages: {
            acronym: {
                required: "[(#{html.PleaseEnterAcronym})]",
                minlength: "[(#{html.AcronymLengthMin})]"
            },
            name: {
                required: "[(#{html.PleaseEnterName})]",
                minlength: "[(#{html.NameLengthMin})"
            }
        }
    });
});
</script>
</html>