<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/general :: allBaseLibs"/>
<th:block th:replace="fragments/libs :: bootstrap-datatable"/>
<th:block th:replace="fragments/table :: adminTableDefinition(${changeEnabled})"/>
<th:block th:replace="fragments/buttons :: ajaxButtons"/>
<th:block th:replace="fragments/buttons :: conditionButtons"/>

<th:block th:replace="fragments/nav :: organizationListBar*(#{html.MergeOrganizations})"/>

<div id="duplicationComputation">
	<div class="progress">
	  <div id="progress-bar1" class="progress-bar" role="progressbar" style="width:0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
	  <div id="progress-bar2" class="progress-bar bg-warning" role="progressbar" style="width:0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
	  <div id="progress-bar3" class="progress-bar bg-info" role="progressbar" style="width:0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
	</div>	
	<div id="progress-message"></div>
</div>
<div id="duplicationSummary" style="display:none">
	<p th:utext="#{html.DuplicateOrganizationIntro}"></p>
	<table th:replace="fragments/table :: adminTable(~{::thead}, ~{::tbody})">
	    <thead>
	        <th th:text="#{html.Names}"></th>
	        <th th:text="#{html.Actions}"></th>
	    </thead>
	    <tbody id="duplicationSummaryBody">
	    </tbody>
   </table>
</div>
<script type="text/javascript" th:inline="javascript">
/*[# th:if="${changeEnabled}"]*/
function installInteractionElements(duplicates) {
	initAdministrationTable({
		columns: 1,
		actionWidth: '80px',
	});
	$.each(duplicates, (index, group) => {
		$.each(group, (index0, duplicateOrganization) => {
			// Delete button
			attachDeletionHandler({
				id: index0 + '_' + duplicateOrganization.id,
				url: "[(@{/deleteOrganization(organization='')})]" + duplicateOrganization.id,
				name: duplicateOrganization.acronym + ' - ' + duplicateOrganization.name,
				questionTitle: "[(#{html.DeleteOrganization1})]".format(duplicateOrganization.acronym + ' - ' + duplicateOrganization.name),
				questionText: "[(#{html.AreYouSureToDelete})]".format(duplicateOrganization.acronym + ' - ' + duplicateOrganization.name + ' (' + duplicateOrganization.id + ')'),
				successText: "[(#{html.OrganizationDeleted})]",
				failureText: "[(#{html.CannotDeleteOrganization})]",
		    });
			//
			var sources = [];
			$.each(group, (index1, otherCandidate) => {
				if (duplicateOrganization.id != otherCandidate.id) {
					sources.push(otherCandidate.id);
				}
			});
			// Merge all into a single
			attachConditionalHandler({
				id: 'btMergeAll_' + index0 + '_' + duplicateOrganization.id,
				url: "[(@{/mergeOrganizations})]",
				requestMethod: 'patch',
				title: "[(#{html.DuplicateOrganizationMergeAll})]".format(duplicateOrganization.acronym + ' - ' + duplicateOrganization.name),
				text: "[(#{html.AreYouSureToMergeAll})]".format(duplicateOrganization.acronym + ' - ' + duplicateOrganization.name + ' (' + duplicateOrganization.id + ')'),
				failureText: "[(#{html.CannotMergeOrganizations})]".format(duplicateOrganization.acronym + ' - ' + duplicateOrganization.name + ' (' + duplicateOrganization.id + ')'),
				prepareData: ($bt, formData) => {
					formData.append("target", duplicateOrganization.id);
					formData.append("sources", sources);
				},
				onSuccess: () => {
					Swal.fire(
						  "[(#{html.Merged})]",
						  "[(#{html.OrganizationsMerged})]",
						  'success'
						).then(result => {
		  					location.reload();
						});
				},
			});
			// Merge some into a single
			{
				var sources1 = [];
				$.each(group, (index1, otherCandidate) => {
					if (duplicateOrganization.id != otherCandidate.id) {
						sources1.push({ id: otherCandidate.id, label: otherCandidate.acronym + ' - ' + otherCandidate.name + ' (' + otherCandidate.id + ')' });
					}
				});
				var htmlContent = "[(#{html.AreYouSureToMergePart})]".format(duplicateOrganization.acronym + ' - ' + duplicateOrganization.name + ' (' + duplicateOrganization.id + ')');
				$.each(sources1, (idx, item) => {
					htmlContent += "<br/><input id='__dialog_checkbox_partmerge_" + item.id + "' type='checkbox' checked>" + item.label + "</input>";
				});
				attachConditionalHandler({
					id: 'btMergePart_' + index0 + '_' + duplicateOrganization.id,
					url: "[(@{/mergeOrganizations})]",
					requestMethod: 'patch',
					title: "[(#{html.DuplicateOrganizationMergePart})]".format(duplicateOrganization.acronym + ' - ' + duplicateOrganization.name),
					html: htmlContent,
					failureText: "[(#{html.CannotMergeOrganizations})]".format(duplicateOrganization.acronym + ' - ' + duplicateOrganization.name + ' (' + duplicateOrganization.id + ')'),
					preparePreconditionBox: () => {
						var selection = [];
						$.each(sources1, (idx, item) => {
							var $component = $('#__dialog_checkbox_partmerge_' + item.id + ':first');
							if ($component.is(':checked')) {
								selection.push(item.id);
							}
						});
						return selection;
					},
					prepareData: ($bt, formData, preConfirmSelection) => {
						formData.append("target", duplicateOrganization.id);
						formData.append("sources", preConfirmSelection);
					},
					onSuccess: () => {
						Swal.fire(
								  "[(#{html.Merged})]",
								  "[(#{html.OrganizationsMerged})]",
								  'success'
								).then(result => {
			    					location.reload();
								});
					},
				});
			}	    
		});
	});
}
function updateTableContent(duplicates) {
	var $body = $("#duplicationSummaryBody");
	$.each(duplicates, (index, group) => {
		var $tr = $('<tr></tr>');
		$tr.attr('id', 'duplicateGroup_' + index);
		$body.append($tr);
		// Names
		var $tdnames = $('<td></td>');
		$tr.append($tdnames);
		$.each(group, (index0, duplicateOrganization) => {
			if (index0 > 0) {
				$tdnames.append($('<br/>'));
			}
			$tdnames.append(duplicateOrganization.acronym + ' - ' + duplicateOrganization.name + ' (' + duplicateOrganization.id + ')');
		});
		// Actions
		var $tdactions = $('<td></td>');
		$tr.append($tdactions);
		$.each(group, (index0, duplicateOrganization) => {
			if (index0 > 0) {
				$tdactions.append($('<br/>'));
			}
			var $span = $('<span></span>');
			$span.attr('id', 'TheDeleteButton_' + index0 + '_' + duplicateOrganization.id);
			$span.attr('class', 'fa-solid fa-trash');
			$span.css('cursor', 'pointer');
			$span.attr('title', [[#{html.DeleteOrganization1}]].format(duplicateOrganization.acronym + ' - ' + duplicateOrganization.name));
			$span.css('font-size', 'larger');
			$span.css('margin-right', '5px');
			$tdactions.append($span);
			//
			var $span = $('<span></span>');
			$span.attr('id', 'btMergeAll_' + index0 + '_' + duplicateOrganization.id);
			$span.attr('class', 'fa-solid fa-angle-double-right');
			$span.css('font-size', 'larger');
			$span.css('margin-right', '5px');
			$span.css('cursor', 'pointer');
			$span.attr('title', [[#{html.DuplicateOrganizationMergeAll}]].format(duplicateOrganization.acronym + ' - ' + duplicateOrganization.name));
			$tdactions.append($span);
			//
			var $span = $('<span></span>');
			$span.attr('id', 'btMergePart_' + index0 + '_' + duplicateOrganization.id);
			$span.attr('class', 'fa-solid fa-angle-right');
			$span.css('font-size', 'larger');
			$span.css('cursor', 'pointer');
			$span.attr('title', [[#{html.DuplicateOrganizationMergePart}]].format(duplicateOrganization.acronym + ' - ' + duplicateOrganization.name));
			$tdactions.append($span);
		});
	});
}
var eventSource = null;
$(document).on("unload", () => {
	if (eventSource) {
	    eventSource.close();
	}	
});
/*[/]*/
$(document).ready(() => {
    /*[# th:if="${changeEnabled}"]*/
    var $jbar1 = $("#progress-bar1");
    var $jbar2 = $("#progress-bar2");
    var $jbar3 = $("#progress-bar3");
    var $jmsg = $("#progress-message");
    eventSource = new EventSource("[(${batchUrl})]");
    eventSource.onmessage = (e) => {
        var notification = JSON.parse(e.data);
        var terminated = notification.terminated;
        if (terminated){
        	eventSource.close();
        	eventSource = null;
	        var duplicates = notification.duplicates;
	        updateTableContent(duplicates);
        	$("#duplicationComputation").hide();
        	$("#duplicationSummary").show();
        	installInteractionElements(duplicates);
        }else{
	        var message = notification.message;
	        var percent = notification.percent;
	        var duplicates = notification.duplicates;
	        var extra = notification.extra;
	       	$jbar1.css('width', percent + '%');
	       	$jbar1.attr('aria-valuenow', percent);
	       	$jbar2.css('width', duplicates + '%');
	       	$jbar2.attr('aria-valuenow', duplicates);
	       	$jbar3.css('width', extra + '%');
	       	$jbar3.attr('aria-valuenow',extra);
	        $jmsg.html(message);
		}
    };
    /*[/]*/
});
</script>
</html>