<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/head :: style" />
<th:block th:replace="fragments/head :: script" />

<table class="table table-responsive-sm table-bordered table-striped table-sm" th:id="${'table'+uuid}" style="width: 100%">
    <thead>
        <th th:text="#{html.Acronym}"></th>
        <th th:text="#{html.Name}"></th>
        <th th:text="#{html.Type}"></th>
        <th th:text="#{html.Description}"></th>
        <th th:text="#{html.Country}"></th>
        <th th:text="#{html.SuperOrganization}"></th>
        <th th:text="#{html.SubOrganizations}"></th>
        <th th:text="#{html.Actions}"></th>
    </thead>
    <tbody>
        <tr th:each="organization : ${organizations}">
            <td>
                <a th:if="${organization.organizationURL != null}"
                   th:href="${organization.organizationURL}"
                   th:utext="${organization.acronym}"></a>
                <th:block th:if="${organization.organizationURL == null}"
                          th:utext="${organization.acronym}"></th:block>
            </td>
            <td>
                <th:block th:utext="${organization.name}"></th:block>
            </td>
            <td>
                <th:block th:utext="${organization.type.getLabel(locale)}"></th:block>
            </td>
            <td>
                <th:block th:utext="${organization.description}"></th:block>
            </td>
            <td>
                <th:block th:utext="${organization.countryDisplayName}"></th:block>
            </td>
            <td>
                <th:block th:if="${organization.superOrganization != null}"
                          th:utext="${organization.superOrganization.acronymOrName}"></th:block>
            </td>
            <td>
                <th:block th:each="suborga, iOrga : ${#lists.sort(organization.subOrganizations, new fr.ciadlab.labmanager.entities.organization.ResearchOrganizationComparator())}">
                    <th:block th:if="${!iOrga.first}"
                              th:utext="', '"></th:block>
                    <th:block th:utext="${suborga.acronymOrName}"></th:block>
                </th:block>
            </td>
            <td>
            	<a th:href="@{/exportBibTeX(organization=${organization.id})}">
            		<img th:src="@{/images/icon/bibtex_file.svg}" th:title="#{html.GetBibTeXPublicationsFor(${organization.getAcronymOrName})}" style="max-width:24px;"></img>
            	</a>
            	<a th:href="@{/exportOpenDocumentText(organization=${organization.id})}">
            		<img th:src="@{/images/icon/odt_file.svg}" th:title="#{html.GetOdtPublicationsFor(${organization.getAcronymOrName})}" style="max-width:24px;"></img>
            	</a>
            	<a th:href="@{/exportHtml(organization=${organization.id})}">
            		<img th:src="@{/images/icon/html_file.svg}" th:title="#{html.GetHtmlPublicationsFor(${organization.getAcronymOrName})}" style="max-width:24px;"></img>
            	</a>
            	<a th:href="@{/getOrganizationData(id=${organization.id})}">
            		<img th:src="@{/images/icon/json_file.svg}" th:title="#{html.GetJsonFor(${organization.getAcronymOrName})}" style="max-width:24px;"></img>
            	</a>
            </td>
        </tr>
    </tbody>
</table>


<script th:inline="javascript">
    $(document).ready(function() {
        var tableId = /*[[${uuid}]]*/ '';
        var table = $('#table'+tableId).DataTable({
            dom: 'Bfrtip',
            scrollCollapse: true,
            paging: false,
            buttons: [
                'excelHtml5', 'csvHtml5'
            ],
            responsive: true,
            autoWidth: true,
            "columns": [
            	{ },
            	{ },
            	{ },
            	{ },
            	{ },
            	{ },
            	{ },
                {
                    "orderable": false,
                    "width": "110px"
                }
            ],
        });
    });

</script>
</html>

