<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/general :: allBaseLibs-with-bundles}"/>
<th:block th:replace="~{fragments/libs :: bootstrap-datatable}"/>

<th:block th:replace="~{fragments/table :: adminTableDefinition(${changeEnabled})}"/>

<th:block th:replace="~{fragments/nav :: simpleBar(#{html.OrphanEntities})}"/>

<div id="compute-orphans">
	<div class="progress">
	  <div id="progress-bar" class="progress-bar" role="progressbar" style="width:0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
	</div>	
	<div id="progress-message"></div>
</div>
<div id="show-orphans" style="display: none;">
	<table th:replace="~{fragments/table :: adminTable(~{::thead}, ~{::tbody})}">
	    <thead>
	        <th th:utext="#{html.Type}"></th>
	        <th th:utext="#{html.Entity}"></th>
	        <th th:utext="#{html.Reason}"></th>
	        <th th:utext="#{html.Actions}"></th>
	    </thead>
	    <tbody>
	    </tbody>
	</table>
</div>
<script type="text/javascript" th:inline="javascript">
/*[# th:if="${changeEnabled}"]*/
function showOrphanEntities(data) {
	$('#compute-orphans').hide();
	$('#show-orphans').show();
	var $tbody = $("#[(${'table'+uuid})] tbody");
	var deletionIndex = 0;
	$.each(data, (key, value) => {
		$.each(value, (index, orphan) => {
			var $line = $('<tr>');
			$tbody.append($line);
			//
			var $cell = $('<td>');
			$line.append($cell);
			$cell.append(key);
			//
			$cell = $('<td>');
			$line.append($cell);
			$cell.append(orphan['label']);
			//
			$cell = $('<td>');
			$line.append($cell);
			$cell.append(orphan['reason']);
			//
			var $cell = $('<td>');
			$line.append($cell);
			//
			if (orphan['edition']) {
				var $alink = $('<a>');
				$alink.attr('class', 'noLink').attr('href', orphan['edition']);
				$alink.attr('title', [[#{html.EditEntity}]]);
				$cell.append($alink);
				var $span = $('<span>');
				$span.attr('class', 'fa-solid fa-pencil');
				$span.attr('style', 'font-size:14pt');
				$alink.append($span);
			}
			//
			if (orphan['deletion']) {
				var btid = "deletion-" + deletionIndex;
		        deletionIndex++;
				var $button = $('<button>');
				$button.attr('id', 'TheDeleteButton_' + btid);
				$button.attr('class', 'fa-solid fa-trash');
				$button.attr('style', 'font-size:14pt; cursor: pointer;');
				$button.attr('title', [[#{html.DeleteEntity0}]]);
				$cell.append($button);
				//
		        attachDeletionHandler({
		        	id: btid,
		        	url: orphan['deletion'],
		        	name: orphan['label'],
		        	questionTitle: [[#{html.DeleteEntity0}]],
		        	questionText: [[#{html.AreYouSureToDeleteEntity}]].format(orphan['label']),
		        	successText: [[#{html.EntityDeleted}]],
		        	failureText: [[#{html.CannotDeleteEntity}]],
		        });
			}
		});
	});
	
	var $dtable = initAdministrationTable({
		columns: 3,
		order: [ [0, 'asc'], [2, 'asc'] ],
		actionWidth: '60px',
		tableParams: {
			rowGroup: {
				startRender: (rows, group) => {
					return group;
				},
				endRender: null,
				dataSrc: [0],
			},
		},
	});
	$dtable.column(0).visible(false);
    //window.location.href = "[(${finishingUrl})]";
}
var eventSource = null;
$(document).on("unload", () => {
	if (eventSource) {
	    eventSource.close();
	}	
});
/*[/]*/
$(document).ready(() => {
    /*[# th:if="${changeEnabled}"]*/
    var $jbar = $("#progress-bar");
    var $jmsg = $("#progress-message");
    eventSource = new EventSource("[(${batchUrl})]");
    eventSource.onmessage = (e) => {
        var notification = JSON.parse(e.data);
        var terminated = notification.terminated;
        if (terminated){
        	eventSource.close();
        	eventSource = null;
	        var data = notification.data;
	        showOrphanEntities(data);
        }else{
	        var message = notification.message;
	        var percent = notification.percent;
	       	$jbar.css('width', percent + '%');
	       	$jbar.attr('aria-valuenow', percent);
	        $jmsg.html(message);
		}
    };
    /*[/]*/
});
</script>
</html>