<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/general :: allBaseLibs"/>
<th:block th:replace="fragments/libs :: bootstrap-datatable"/>
<th:block th:replace="fragments/table :: adminTableDefinition(${changeEnabled})"/>
<th:block th:replace="fragments/buttons :: ajaxButtons"/>
<th:block th:replace="fragments/buttons :: conditionButtons"/>

<th:block th:replace="fragments/nav :: personListBar*(#{html.MergePersons})"/>

<div id="duplicationComputation">
	<div class="progress">
	  <div id="progress-bar1" class="progress-bar" role="progressbar" style="width:0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
	  <div id="progress-bar2" class="progress-bar bg-warning" role="progressbar" style="width:0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
	  <div id="progress-bar3" class="progress-bar bg-info" role="progressbar" style="width:0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
	</div>	
	<div id="progress-message"></div>
</div>
<div id="duplicationSummary" style="display:none">
	<p th:utext="#{html.DuplicatePersonIntro}"></p>
	<table th:replace="fragments/table :: adminTable(~{::thead}, ~{::tbody})">
	    <thead>
	        <th th:text="#{html.Names}"></th>
	        <th th:text="#{html.Organizations}"></th>
	        <th th:text="#{html.Publications}"></th>
	        <th th:text="#{html.Supervisions}"></th>
	        <th th:text="#{html.JuryMemberships}"></th>
	        <th th:text="#{html.Invitations}"></th>
	        <th th:text="#{html.Actions}"></th>
	    </thead>
	    <tbody id="duplicationSummaryBody">
	    </tbody>
   </table>
</div>
<script type="text/javascript" th:inline="javascript">
/*[# th:if="${changeEnabled}"]*/
function installInteractionElements(duplicates) {
	initAdministrationTable({
		columns: 6,
		actionWidth: '80px',
	});
	$.each(duplicates, (index, group) => {
		$.each(group, (index0, duplicatePerson) => {
			// Delete button
			if (!duplicatePerson.lockedForDeletion) {
				attachDeletionHandler({
					id: index0 + '_' + duplicatePerson.id,
					url: "[(@{/deletePerson(person='')})]" + duplicatePerson.id,
					name: duplicatePerson.fullName,
					questionTitle: "[(#{html.DeletePerson1})]".format(duplicatePerson.fullName),
					questionText: "[(#{html.AreYouSureToDelete})]".format(duplicatePerson.fullName + ' (' + duplicatePerson.id + ')'),
					successText: "[(#{html.PersonDeleted})]",
					failureText: "[(#{html.CannotDeletePerson})]",
			    });
			}
			//
			var sources = [];
			$.each(group, (index1, otherCandidate) => {
				if (duplicatePerson.id != otherCandidate.id) {
					sources.push(otherCandidate.id);
				}
			});
			// Merge all into a single
			attachConditionalHandler({
				id: 'btMergeAll_' + index0 + '_' + duplicatePerson.id,
				url: "[(@{/mergePersons})]",
				requestMethod: 'patch',
				title: "[(#{html.DuplicatePersonMergeAll})]".format(duplicatePerson.fullName),
				text: "[(#{html.AreYouSureToMergeAll})]".format(duplicatePerson.fullName + ' (' + duplicatePerson.id + ')'),
				failureText: "[(#{html.CannotMergePersons})]".format(duplicatePerson.fullName + ' (' + duplicatePerson.id + ')'),
				prepareData: ($bt, formData) => {
					formData.append("target", duplicatePerson.id);
					formData.append("sources", sources);
				},
				onSuccess: () => {
					Swal.fire(
						  "[(#{html.Merged})]",
						  "[(#{html.PersonsMerged})]",
						  'success'
						).then(result => {
		  					location.reload();
						});
				},
			});
			// Merge some into a single
			{
				var sources1 = [];
				$.each(group, (index1, otherCandidate) => {
					if (duplicatePerson.id != otherCandidate.id) {
						sources1.push({ id: otherCandidate.id, label: otherCandidate.fullName + ' (' + otherCandidate.id + ')' });
					}
				});
				var htmlContent = "[(#{html.AreYouSureToMergePart})]".format(duplicatePerson.fullName + ' (' + duplicatePerson.id + ')');
				$.each(sources1, (idx, item) => {
					htmlContent += "<br/><input id='__dialog_checkbox_partmerge_" + item.id + "' type='checkbox' checked>" + item.label + "</input>";
				});
				attachConditionalHandler({
					id: 'btMergePart_' + index0 + '_' + duplicatePerson.id,
					url: "[(@{/mergePersons})]",
					requestMethod: 'patch',
					title: "[(#{html.DuplicatePersonMergePart})]".format(duplicatePerson.fullName),
					html: htmlContent,
					failureText: "[(#{html.CannotMergePersons})]".format(duplicatePerson.fullName + ' (' + duplicatePerson.id + ')'),
					preparePreconditionBox: () => {
						var selection = [];
						$.each(sources, (idx, item) => {
							var $component = $('#__dialog_checkbox_partmerge_' + item + ':first');
							if ($component.is(':checked')) {
								selection.push(item);
							}
						});
						return selection;
					},
					prepareData: ($bt, formData, preConfirmSelection) => {
						formData.append("target", duplicatePerson.id);
						formData.append("sources", preConfirmSelection);
					},
					onSuccess: () => {
						Swal.fire(
								  "[(#{html.Merged})]",
								  "[(#{html.PersonsMerged})]",
								  'success'
								).then(result => {
			    					location.reload();
								});
					},
				});
			}	    
		});
	});
}
function updateTableContent(duplicates) {
	var $body = $("#duplicationSummaryBody");
	$.each(duplicates, (index, group) => {
		var $tr = $('<tr></tr>');
		$tr.attr('id', 'duplicateGroup_' + index);
		$body.append($tr);
		// Names
		var $tdnames = $('<td></td>');
		$tr.append($tdnames);
		$.each(group, (index0, duplicatePerson) => {
			if (index0 > 0) {
				$tdnames.append($('<br/>'));
			}
			$tdnames.append(duplicatePerson.fullName + ' (' + duplicatePerson.id + ')');
		});
		// Organizations
		var $tdorganizations = $('<td></td>');
		$tr.append($tdorganizations);
		$.each(group, (index0, duplicatePerson) => {
			if (index0 > 0) {
				$tdorganizations.append($('<br/>'));
			}
			$tdorganizations.append(duplicatePerson.memberships);
		});
		// Publications
		var $tdpublications = $('<td></td>');
		$tr.append($tdpublications);
		$.each(group, (index0, duplicatePerson) => {
			if (index0 > 0) {
				$tdpublications.append($('<br/>'));
			}
			$tdpublications.append(duplicatePerson.authorships);
		});
		// Supervisions
		var $tdsupervisions = $('<td></td>');
		$tr.append($tdsupervisions);
		$.each(group, (index0, duplicatePerson) => {
			if (index0 > 0) {
				$tdsupervisions.append($('<br/>'));
			}
			$tdsupervisions.append(duplicatePerson.supervisions);
		});
		// Jurys
		var $tdjurys = $('<td></td>');
		$tr.append($tdjurys);
		$.each(group, (index0, duplicatePerson) => {
			if (index0 > 0) {
				$tdjurys.append($('<br/>'));
			}
			$tdjurys.append(duplicatePerson.jurys);
		});
		// Invitations
		var $tdinvitations = $('<td></td>');
		$tr.append($tdinvitations);
		$.each(group, (index0, duplicatePerson) => {
			if (index0 > 0) {
				$tdinvitations.append($('<br/>'));
			}
			$tdinvitations.append(duplicatePerson.invitations);
		});
		// Actions
		var $tdactions = $('<td></td>');
		$tr.append($tdactions);
		$.each(group, (index0, duplicatePerson) => {
			if (index0 > 0) {
				$tdactions.append($('<br/>'));
			}
			var $span = $('<span></span>');
			if (duplicatePerson.lockedForDeletion) {
				$span.attr('class', 'fa-solid fa-lock');
				$span.css('cursor', 'not-allowed');
			} else {
				$span.attr('id', 'TheDeleteButton_' + index0 + '_' + duplicatePerson.id);
				$span.attr('class', 'fa-solid fa-trash');
				$span.css('cursor', 'pointer');
				$span.attr('title', [[#{html.DeletePerson1}]].format(duplicatePerson.fullName));
			}
			$span.css('font-size', 'larger');
			$span.css('margin-right', '5px');
			$tdactions.append($span);
			//
			var $span = $('<span></span>');
			$span.attr('id', 'btMergeAll_' + index0 + '_' + duplicatePerson.id);
			$span.attr('class', 'fa-solid fa-angle-double-right');
			$span.css('font-size', 'larger');
			$span.css('margin-right', '5px');
			$span.css('cursor', 'pointer');
			$span.attr('title', [[#{html.DuplicatePersonMergeAll}]].format(duplicatePerson.fullName));
			$tdactions.append($span);
			//
			var $span = $('<span></span>');
			$span.attr('id', 'btMergePart_' + index0 + '_' + duplicatePerson.id);
			$span.attr('class', 'fa-solid fa-angle-right');
			$span.css('font-size', 'larger');
			$span.css('cursor', 'pointer');
			$span.attr('title', [[#{html.DuplicatePersonMergePart}]].format(duplicatePerson.fullName));
			$tdactions.append($span);
		});
	});
}
var eventSource = null;
$(document).on("unload", () => {
	if (eventSource) {
	    eventSource.close();
	}	
});
/*[/]*/
$(document).ready(() => {
    /*[# th:if="${changeEnabled}"]*/
    var $jbar1 = $("#progress-bar1");
    var $jbar2 = $("#progress-bar2");
    var $jbar3 = $("#progress-bar3");
    var $jmsg = $("#progress-message");
    eventSource = new EventSource("[(${batchUrl})]");
    eventSource.onmessage = (e) => {
        var notification = JSON.parse(e.data);
        var terminated = notification.terminated;
        if (terminated){
        	eventSource.close();
        	eventSource = null;
	        var duplicates = notification.duplicates;
	        updateTableContent(duplicates);
        	$("#duplicationComputation").hide();
        	$("#duplicationSummary").show();
        	installInteractionElements(duplicates);
        }else{
	        var message = notification.message;
	        var percent = notification.percent;
	        var duplicates = notification.duplicates;
	        var extra = notification.extra;
	       	$jbar1.css('width', percent + '%');
	       	$jbar1.attr('aria-valuenow', percent);
	       	$jbar2.css('width', duplicates + '%');
	       	$jbar2.attr('aria-valuenow', duplicates);
	       	$jbar3.css('width', extra + '%');
	       	$jbar3.attr('aria-valuenow',extra);
	        $jmsg.html(message);
		}
    };
    /*[/]*/
});
</script>
</html>