<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/head :: style" />
<th:block th:replace="fragments/head :: script" />

<!-- created=true&message=first0+last0+%3Cemail0%3E -->
<!-- updated=true&message=abc+xyz -->
<!-- error=1&message=Person+with+the+name+%27abc+xyz%27+was+not+found -->

<table class="table table-responsive-sm table-bordered table-striped table-sm" th:id="${'table'+uuid}" style="width: 100%">
    <thead>
        <th th:utext="#{html.LastName}"></th>
        <th th:utext="#{html.FirstName}"></th>
        <th th:utext="#{html.Gravatar}"></th>
        <th th:utext="#{html.ORCID}"></th>
        <th th:utext="#{html.Hindex}"></th>
        <th th:utext="#{html.CurrentOrganizations}"></th>
        <th th:utext="#{html.FormerOrganizations}"></th>
        <th th:utext="#{html.FutureOrganizations}"></th>
    </thead>
    <tbody>
        <tr th:each="person : ${persons}">
            <td>
                <th:block th:utext="${person.lastName}"></th:block>
            </td>
            <td>
                <th:block th:utext="${person.firstName}"></th:block>
            </td>
            <td>
                <img th:if="${person.gravatarId != null}"
                     th:src="${person.getGravatarURL()}"
                     th:title="${person.gravatarId}"></img>
            </td>
            <td>
                <a th:if="${person.ORCID != null}"
                   th:href="${person.orcidURL}"
                   th:utext="${person.ORCID}"></a>
            </td>
            <td>
                <th:block th:if="${person.googleScholarHindex > 0}"
                          th:utext="#{html.GoogleScholarHindex(${person.googleScholarHindex})}"></th:block>
                <th:block th:if="${person.googleScholarHindex > 0 && person.wosHindex > 0}"
                          th:utext="', '"></th:block>
                <th:block th:if="${person.wosHindex > 0}"
                          th:utext="#{html.WosHindex(${person.wosHindex})}"></th:block>
            </td>
            <td>
                <th:block th:each="mbr, iMbr : ${person.activeMemberships}">
                    <th:block th:if="${!iMbr.first}">, </th:block>
                    <a th:href="@{/memberList(organization=${mbr.key.acronymOrName})}"
                       th:title="${mbr.value.memberStatus.getLabel(locale)}"
                       th:utext="${mbr.key.acronymOrName}"></a>
                </th:block>
            </td>
            <td>
                <th:block th:each="mbr, iMbr : ${person.finishedMemberships}">
                    <th:block th:if="${!iMbr.first}">, </th:block>
                    <a th:href="@{/memberList(organization=${mbr.key.acronymOrName})}"
                       th:title="#{html.FormerPositionTo(${mbr.value.memberStatus.getLabel(locale)},${mbr.value.memberToWhen.toLocalDate.year})}"
                       th:utext="${mbr.key.acronymOrName}"></a>
                </th:block>
            </td>
            <td>
                <th:block th:each="mbr, iMbr : ${person.futureMemberships}">
                    <th:block th:if="${!iMbr.first}">, </th:block>
                    <a th:href="@{/memberList(organization=${mbr.key.acronymOrName})}"
                       th:title="#{html.FuturePositionFrom(${mbr.value.memberStatus.getLabel(locale)},${mbr.value.memberSinceWhen.toLocalDate.year})}"
                       th:utext="${mbr.key.acronymOrName}"></a>
                </th:block>
            </td>
        </tr>
    </tbody>
</table>


<script th:inline="javascript">
    $(document).ready(function() {
        var tableId = /*[[${uuid}]]*/ '';
        var table = $('#table'+tableId).DataTable({
            dom: 'Bfrtip',
            scrollCollapse: true,
            paging: false,
            buttons: [
                'excelHtml5', 'pdfHtml5', 'csvHtml5'
            ],
            responsive: true,
            autoWidth: true,
        });
    });

</script>
</html>

