<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/head :: style" />
<th:block th:replace="fragments/head :: script" />

<!-- created=true&message=first0+last0+%3Cemail0%3E -->
<!-- updated=true&message=abc+xyz -->
<!-- error=1&message=Person+with+the+name+%27abc+xyz%27+was+not+found -->

<table class="table table-responsive-sm table-bordered table-striped table-sm" th:id="${'table'+uuid}" style="width: 100%">
    <thead>
        <th th:utext="#{html.LastName}"></th>
        <th th:utext="#{html.FirstName}"></th>
        <th th:utext="#{html.Gravatar}"></th>
        <th th:utext="#{html.ORCID}"></th>
        <th th:utext="#{html.Hindex}"></th>
        <th th:utext="#{html.CurrentOrganizations}"></th>
        <th th:utext="#{html.FormerOrganizations}"></th>
        <th th:utext="#{html.FutureOrganizations}"></th>
        <th th:text="#{html.Actions}"></th>
    </thead>
    <tbody>
        <tr th:each="person : ${persons}">
            <td th:with="actives = ${person.activeMemberships}">
                <s th:if="${actives.isEmpty() && !person.researchOrganizations.isEmpty()}"
                   th:utext="${person.lastName}"></s>
                <i th:if="${actives.isEmpty() && person.researchOrganizations.isEmpty()}"
                          th:utext="${person.lastName}"></i>
                <th:block th:if="${!actives.isEmpty()}"
                          th:utext="${person.lastName}"></th:block>
            </td>
            <td th:with="actives = ${person.activeMemberships}">
                <s th:if="${actives.isEmpty() && !person.researchOrganizations.isEmpty()}"
                     th:utext="${person.firstName}"></s>
                <i th:if="${actives.isEmpty() && person.researchOrganizations.isEmpty()}"
                          th:utext="${person.firstName}"></i>
                <th:block th:if="${!actives.isEmpty()}"
                          th:utext="${person.firstName}"></th:block>
            </td>
            <td>
                <img th:if="${person.gravatarId != null}"
                     th:src="${person.getGravatarURL()}"
                     th:title="${person.gravatarId}"></img>
            </td>
            <td>
                <a th:if="${person.ORCID != null}"
                   th:href="${person.orcidURL}"
                   th:utext="${person.ORCID}"></a>
            </td>
            <td>
                <th:block th:if="${person.googleScholarHindex > 0}"
                          th:utext="#{html.GoogleScholarHindex(${person.googleScholarHindex})}"></th:block>
                <th:block th:if="${person.googleScholarHindex > 0 && person.wosHindex > 0}"
                          th:utext="', '"></th:block>
                <th:block th:if="${person.wosHindex > 0}"
                          th:utext="#{html.WosHindex(${person.wosHindex})}"></th:block>
            </td>
            <td>
                <th:block th:each="mbr, iMbr : ${person.activeMemberships}">
                    <th:block th:if="${!iMbr.first}">, </th:block>
                    <th:block th:if="${mbr.value.memberStatus == null}"
                              th:utext="${'ERROR:' + mbr.key.acronymOrName}"></th:block>
                    <a th:if="${mbr.value.memberStatus != null}"
                       th:href="@{/memberList(organization=${mbr.key.acronymOrName})}"
                       th:title="${mbr.value.memberStatus.getLabel(locale)}"
                       th:utext="${mbr.key.acronymOrName}"></a>
                </th:block>
            </td>
            <td>
                <th:block th:each="mbr, iMbr : ${person.finishedMemberships}">
                    <th:block th:if="${!iMbr.first}">, </th:block>
                    <th:block th:if="${mbr.value.memberStatus == null}"
                              th:utext="${'ERROR:' + mbr.key.acronymOrName}"></th:block>
                    <a th:if="${mbr.value.memberStatus != null}"
                       th:href="@{/memberList(organization=${mbr.key.acronymOrName})}"
                       th:title="#{html.FormerPositionTo(${mbr.value.memberStatus.getLabel(locale)},${mbr.value.memberToWhen.toLocalDate.year})}"
                       th:utext="${mbr.key.acronymOrName}"></a>
                </th:block>
            </td>
            <td>
                <th:block th:each="mbr, iMbr : ${person.futureMemberships}">
                    <th:block th:if="${!iMbr.first}">, </th:block>
                    <th:block th:if="${mbr.value.memberStatus == null}"
                              th:utext="${'ERROR:' + mbr.key.acronymOrName}"></th:block>
                    <a th:if="${mbr.value.memberStatus != null}"
                       th:href="@{/memberList(organization=${mbr.key.acronymOrName})}"
                       th:title="#{html.FuturePositionFrom(${mbr.value.memberStatus.getLabel(locale)},${mbr.value.memberSinceWhen.toLocalDate.year})}"
                       th:utext="${mbr.key.acronymOrName}"></a>
                </th:block>
            </td>
            <td style="white-space:nowrap">
            	<a th:href="@{/exportBibTeX(author=${person.id})}">
            		<img th:src="@{/images/icon/bibtex_file.svg}" th:title="#{html.GetBibTeXPublicationsFor(${person.fullName})}" style="max-width:24px;"></img>
            	</a>
            	<a th:href="@{/exportOpenDocumentText(author=${person.id})}">
            		<img th:src="@{/images/icon/odt_file.svg}" th:title="#{html.GetOdtPublicationsFor(${person.fullName})}" style="max-width:24px;"></img>
            	</a>
            	<a th:href="@{/exportHtml(author=${person.id})}">
            		<img th:src="@{/images/icon/html_file.svg}" th:title="#{html.GetHtmlPublicationsFor(${person.fullName})}" style="max-width:24px;"></img>
            	</a>
            	<a th:href="@{/getPersonData(id=${person.id})}">
            		<img th:src="@{/images/icon/json_file.svg}" th:title="#{html.GetJsonFor(${person.fullName})}" style="max-width:24px;"></img>
            	</a>
            </td>
        </tr>
    </tbody>
</table>


<script th:inline="javascript">
    $(document).ready(function() {
        var tableId = /*[[${uuid}]]*/ '';
        var table = $('#table'+tableId).DataTable({
            dom: 'Bfrtip',
            scrollCollapse: true,
            paging: false,
            buttons: [
                'excelHtml5', 'pdfHtml5', 'csvHtml5'
            ],
            responsive: true,
            autoWidth: true,
        });
    });

</script>
</html>

