<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/general :: allBaseLibs}" />
<th:block th:replace="~{fragments/form :: formLibs}" />
<th:block th:replace="~{fragments/formfileinput :: all}" />
<th:block th:replace="~{fragments/formdynlist :: all}" />

<th:block th:if="${project != null}">
	<th:block th:replace="~{fragments/nav :: projectListBar*(#{html.EditProject1(${project.acronymOrScientificTitle})})}"/>
</th:block>
<th:block th:if="${project == null}">
	<th:block th:replace="~{fragments/nav :: projectListBar*(#{html.AddProject})}"/>
</th:block>

<form th:replace="~{fragments/form :: entityForm(project, ${project == null ? '' : project.id}, ${formActionUrl}, ${formRedirectUrl}, #{html.ProjectSavingError}, ~{::.form-group})}">
	<div class="form-group" th:replace="~{fragments/form :: textInput*(acronym, #{html.Acronym}, #{html.PlaceHolderProjectAcronym}, ${project != null ? project.acronym : ''})}"></div>
	<div class="form-group" th:replace="~{fragments/form :: textInput*(scientificTitle, #{html.ScientificTitle}, #{html.PlaceHolderProjectScientificTitle}, ${project != null ? project.scientificTitle : ''})}"></div>
	<div class="form-group" th:replace="~{fragments/form :: dateInput*(startDate, #{html.StartDate}, ${formattedStartDate})}"></div>
	<div class="form-group" th:replace="~{fragments/form :: textInput*(duration, #{html.Duration}, #{html.PlaceHolderMonthDuration}, ${project != null ? project.duration : '0'})}"></div>
	<div class="form-group" th:replace="~{fragments/form :: textAreaInput(description, #{html.Description}, #{html.PlaceHolderProjectDescription}, ${project != null ? project.description : ''})}"></div>
	<div class="form-group" th:replace="~{fragments/form :: textInput*(globalBudget, #{html.ProjectGlobalBudget}, #{html.PlaceHolderProjectGlobalBudget}, ${project != null ? project.globalBudget : '0'})}"></div>
	<div class="form-group" th:replace="~{fragments/formdynlist :: dynamicDataList*(localOrganizationBudgets, #{html.ProjectLocalOrganizationBudget}, #{html.AddProjectBudget})}"></div>
	<div class="form-group" th:replace="~{fragments/form :: comboInput*(coordinator, #{html.ProjectCoordinator}, ~{::option#option-coordinator})}">
		<option id="option-coordinator"
		        th:each="coordinator : ${organizations}"
		        th:selected="${project != null && project.coordinator != null && project.coordinator.id == coordinator.id}"
		        th:value="${coordinator.id}"
		        th:utext="${coordinator.acronym + ' - ' + coordinator.name}"></option>
	</div>
	<div class="form-group" th:replace="~{fragments/form :: comboInput*(localOrganization, #{html.ProjectLocalOrganization}, ~{::option#option-localOrganization})}">
		<option id="option-localOrganization"
		        th:each="localOrganization : ${organizations}"
		        th:selected="${(project == null && defaultLocalOrganization != null && localOrganization.id == defaultLocalOrganization.id) || (project != null && project.localOrganization != null && project.localOrganization.id == localOrganization.id)}"
		        th:value="${localOrganization.id}"
		        th:utext="${localOrganization.acronym + ' - ' + localOrganization.name}"></option>
	</div>
	<div class="form-group" th:replace="~{fragments/form :: comboInput(superOrganization, #{html.ProjectSuperOrganization}, ~{::option#option-superOrganization})}">
		<option id="option-superOrganization"
		        th:each="superOrganization : ${organizations}"
		        th:selected="${(project == null && defaultSuperOrganization != null && superOrganization.id == defaultSuperOrganization.id) || (project != null && project.superOrganization != null && project.superOrganization.id == superOrganization.id)}"
		        th:value="${superOrganization.id}"
		        th:utext="${superOrganization.acronym + ' - ' + superOrganization.name}"></option>
	</div>
	<div class="form-group" th:replace="~{fragments/form :: comboInput*(learOrganization, #{html.ProjectLearOrganization}, ~{::option#option-learOrganization})}">
		<option id="option-learOrganization"
		        th:each="learOrganization : ${organizations}"
		        th:selected="${(project == null && defaultLearOrganization != null && learOrganization.id == defaultLearOrganization.id) || (project != null && project.learOrganization != null && project.learOrganization.id == learOrganization.id)}"
		        th:value="${learOrganization.id}"
		        th:utext="${learOrganization.acronym + ' - ' + learOrganization.name}"></option>
	</div>
	<div class="form-group" th:replace="~{fragments/formdynlist :: dynamicDataList(otherPartners, #{html.ProjectOtherPartners}, #{html.AddProjectPartner})}"></div>
	<div class="form-group" th:replace="~{fragments/formdynlist :: dynamicDataList(participants, #{html.ProjectParticipants}, #{html.AddProjectParticipant})}"></div>
	<div class="form-group" th:replace="~{fragments/form :: checkInput(confidential, #{html.ProjectConfidential}, #{html.ProjectConfidential}, ${project != null ? project.confidential : false})}"></div>
	<div class="form-group" th:replace="~{fragments/form :: comboInput*(status, #{html.ProjectStatus}, ~{::option#option-status})}">
		<option id="option-status"
		        th:each="status : ${sortedStatus}"
		        th:selected="${project != null && project.status == status}"
		        th:value="${status.name}"
		        th:utext="${status.getLabel()}"></option>
	</div>
	<div class="form-group" th:replace="~{fragments/form :: comboInput*(contractType, #{html.ProjectContractType}, ~{::option#option-contracttype})}">
		<option id="option-contracttype"
		        th:each="type : ${sortedContractTypes}"
		        th:selected="${project != null && project.contractType == type}"
		        th:value="${type.name}"
		        th:utext="${type.ordinal > 0 ? type.name() + ' - ' + type.getLabel() : type.getLabel()}"></option>
	</div>
	<div class="form-group" th:replace="~{fragments/form :: checkInput(openSource, #{html.OpenSource}, #{html.OpenSource}, ${project != null ? project.openSource : false})}"></div>
	<div class="form-group" th:replace="~{fragments/form :: comboInput*(activityType, #{html.ProjectActivityType}, ~{::option#option-activitytype})}">
		<option id="option-activitytype"
		        th:each="type : ${sortedActivityTypes}"
		        th:selected="${project != null && project.activityType == type}"
		        th:value="${type.name}"
		        th:utext="${type.getLabel()}"></option>
	</div>
	<div class="form-group" th:replace="~{fragments/form :: comboInput*(trl, #{html.ProjectTrl}, ~{::option#option-trl})}">
		<option id="option-trl"
		        th:each="level : ${sortedTrls}"
		        th:selected="${project != null && project.TRL == level}"
		        th:value="${level.name}"
		        th:utext="${level.name + ' - ' + level.getLabel()}"></option>
	</div>
	<div class="form-group" th:replace="~{fragments/formdynlist :: dynamicDataList*(scientificAxes, #{html.ProjectScientificAxes}, #{html.AddProjectScientificAxis})}"></div>
	<div class="form-group" th:replace="~{fragments/formfileinput :: fileUploadPdf(pathToScientificRequirements, #{html.ProjectScientificRequirements})}"></div>
	<div class="form-group" th:replace="~{fragments/formfileinput :: fileUploadImage(pathToLogo, #{html.ProjectLogo})}"></div>
	<div class="form-group" th:replace="~{fragments/form :: textInput(projectURL, #{html.ProjectURL}, #{html.PlaceHolderURL}, ${project != null ? project.projectURL : ''})}"></div>
	<div class="form-group" th:replace="~{fragments/form :: comboInput(webPageNaming, #{html.ProjectWebPageNaming}, ~{::option#option-webpagenaming})}">
		<option id="option-webpagenaming"
		        th:each="naming : ${T(fr.ciadlab.labmanager.entities.project.ProjectWebPageNaming).values()}"
		        th:selected="${(project == null && naming == defaultNaming) || (project != null && project.webPageNaming == naming)}"
		        th:value="${naming.name}"
		        th:utext="${naming.getLabel()}"></option>
	</div>
	<div class="form-group" th:replace="~{fragments/formfileinput :: fileUploadImages(pathsToImages, #{html.ProjectAssociatedImages})}"></div>
	<div class="form-group" th:replace="~{fragments/formdynlist :: dynamicDataList(videoURLs, #{html.ProjectVideoURLs}, #{html.AddVideoURL})}"></div>
	<div class="form-group" th:replace="~{fragments/formfileinput :: fileUploadPpt(pathToPowerpoint, #{html.ProjectPowerPoint})}"></div>
	<div class="form-group" th:replace="~{fragments/formfileinput :: fileUploadPdf(pathToPressDocument, #{html.ProjectPressDocument})}"></div>
	<div class="form-group" th:replace="~{fragments/form :: checkInput(validated, #{html.ValidatedProject}, #{html.ValidatedProject}, ${project != null ? project.validated : false})}"></div>
</form>
<script type="text/javascript" th:inline="javascript">
const ALL_ORGANIZATIONS = new Map();
/*[# th:each="organization : ${organizations}"]*/
ALL_ORGANIZATIONS.set("[(${organization.id})]", [[${organization.acronym + ' - ' + organization.name}]]);
/*[/]*/
const ALL_PERSONS = new Map();
var ALL_PERSON_OPTIONS =  '';
/*[# th:each="person : ${persons}"]*/
ALL_PERSONS.set("[(${person.id})]", [[${person.fullNameWithLastNameFirst}]]);
ALL_PERSON_OPTIONS = ALL_PERSON_OPTIONS + '<option value="[(${person.id})]">'+ [[${person.fullNameWithLastNameFirst}]] + '</option>';
/*[/]*/
const ALL_ROLES = new Map();
var ALL_ROLE_OPTIONS =  '';
/*[# th:each="role : ${T(fr.ciadlab.labmanager.entities.project.Role).values()}"]*/
ALL_ROLES.set("[(${role.name})]", [[${role.getLabel()}]]);
ALL_ROLE_OPTIONS = ALL_ROLE_OPTIONS + '<option value="[(${role.name})]">'+ [[${role.getLabel()}]] + '</option>';
/*[/]*/
const ALL_FUNDING_SCHEMES = new Map();
var ALL_FUNDING_SCHEME_OPTIONS = '';
/*[# th:each="scheme : ${sortedFundingSchemes}"]*/
ALL_FUNDING_SCHEMES.set("[(${scheme.name})]", [[${scheme.getLabel()}]]);
ALL_FUNDING_SCHEME_OPTIONS = ALL_FUNDING_SCHEME_OPTIONS + '<option value="[(${scheme.name})]">'+ [[${scheme.getLabel()}]] + '</option>';
/*[/]*/
const ALL_SCIENTIFIC_AXIS_NAMES = new Map();
var ALL_SCIENTIFIC_AXIS_OPTIONS = '';
var axisName;
/*[# th:each="axis : ${sortedScientificAxes}"]*/
axisName = [[${axis.acronym}]] + ' - ' + [[${axis.name}]];
ALL_SCIENTIFIC_AXIS_NAMES.set("[(${axis.id})]", axisName);
ALL_SCIENTIFIC_AXIS_OPTIONS = ALL_SCIENTIFIC_AXIS_OPTIONS + '<option value="[(${axis.id})]">' + axisName + '</option>';
/*[/]*/
$(document).ready(function () {
	
	// Initialize form validation
	
	$('#form:first').validate({
        rules: {
        	acronym: {
                required: true,
        	},
        	scientificTitle: {
                required: true,
                minlength: 5
            },
        	startDate: {
                required: true,
            },
        	duration: {
                required: true,
            },
        	globalBudget: {
                required: true,
            },
        	budget: {
                required: true,
            },
        	projectURL: {
                required: false,
                url: true
            },
        },
    });
	
	// Initialize file upload components
	
	initFileUploadSinglePdf({
		name: 'pathToScientificRequirements',
		basename: "[(${pathToScientificRequirements_basename})]",
		picture: "[(${pathToScientificRequirements_picture})]",
	});
	initFileUploadSingleImage({
		name: 'pathToLogo',
		basename: "[(${pathToLogo_basename})]",
		picture: "[(${pathToLogo_picture})]",
	});
	initFileUploadSinglePpt({
		name: 'pathToPowerpoint',
		basename: "[(${pathToPowerpoint_basename})]",
		picture: "[(${pathToPowerpoint_picture})]",
	});
	initFileUploadSinglePdf({
		name: 'pathToPressDocument',
		basename: "[(${pathToPressDocument_basename})]",
		picture: "[(${pathToPressDocument_picture})]",
	});
	initFileUploadMultiImages({
		name: 'pathsToImages',
		files: [
	        /*[# th:each="image : ${pathsToImages}"]*/
	        {
	        	picture: "[(${image.picture})]",
	        	basename: "[(${image.basename})]",
	        },
		    /*[/]*/
		],
	});
	initDynamicDataList({
		name: 'localOrganizationBudgets',
		columnCount: 3,
		deleteLabel: [[#{html.DeleteProjectBudget}]],
		deleteTitle: [[#{html.Delete}]],
		deleteMessage: [[#{html.AreYouSureToDelete}]],
		data: [
			/*[# th:if="${project != null}"]*//*[# th:each="budget : ${project.budgets}"]*/
	        {
				fundingScheme: "[(${budget.fundingScheme.name})]",
				budget: "[(${budget.budget})]",
				grant: "[(${budget.grant})]",
	        },
		    /*[/]*//*[/]*/
		],
		dataName: (dt) => {
			return dt['fundingScheme'] + ' - ' + dt['budget'];
		},
		rowBuilder: (data, target, index) => {
			if (index == 2) {
				target.append(data['grant']);
			} else if (index == 1) {
				target.append(data['budget'] + " [(#{html.KEURO})]");
			} else {
				target.append(ALL_FUNDING_SCHEMES.get(data['fundingScheme']));
			}
		},
		dataConverter: (formData, fieldName, data) => {
			formData.append(fieldName, JSON.stringify(data));
		},
		dataCreator: (doCreateFct) => {
			Swal.fire({
				title: [[#{html.AddProjectBudget}]],
				icon: 'question',
				showCancelButton: true,
				confirmButtonColor: '#d33',
				cancelButtonColor: '#99cc00',
				confirmButtonText: [[#{html.Add}]],
				grow: 'row',
				html: "[(#{html.FundingScheme0})]<br/>"
					+ '<select id="swal-input1" class="swal2-input">'
					+ ALL_FUNDING_SCHEME_OPTIONS
					+ '</select><br/>'
					+ "[(#{html.ProjectBudget})] ([(#{html.KEURO})])<br/>"
					+ '<input id="swal-input2" class="swal2-input" type="text" placeholder="[(#{html.PlaceHolderProjectBudget})]"/><br/>'
					+ "[(#{html.Grant})]<br/>"
					+ '<input id="swal-input3" class="swal2-input" type="text" placeholder="[(#{html.PlaceHolderGrant})]"/><br/>',
				preConfirm: () => {
					return {
						fundingScheme: document.getElementById("swal-input1").value,
						budget: document.getElementById("swal-input2").value,
						grant: document.getElementById("swal-input3").value,
					};
				},
			}).then(result => {
				if (result.isConfirmed) {
					var value = result.value;
					doCreateFct(value);
				}
			});
		},
	});
	initDynamicDataList({
		name: 'otherPartners',
		deleteLabel: [[#{html.DeleteProjectPartner}]],
		deleteTitle: [[#{html.Delete}]],
		deleteMessage: [[#{html.AreYouSureToDelete}]],
		data: [
	        /*[# th:if="${project != null}"]*//*[# th:each="partner : ${project.otherPartners}"]*/
	        "[(${partner.id})]",
		    /*[/]*//*[/]*/
		],
		dataName: (dt) => {
			return ALL_ORGANIZATIONS.get(dt);
		},
		rowBuilder: (data, target, index) => {
			target.append(ALL_ORGANIZATIONS.get(data));
		},
		dataCreator: (doCreateFct) => {
			Swal.fire({
				title: [[#{html.AddProjectPartner}]],
				icon: 'question',
				showCancelButton: true,
				confirmButtonColor: '#d33',
				cancelButtonColor: '#99cc00',
				confirmButtonText: [[#{html.Add}]],
				grow: 'row',
				input: 'select',
				inputOptions: ALL_ORGANIZATIONS,
			}).then(result => {
				if (result.isConfirmed) {
					var value = result.value;
					doCreateFct(value);
				}
			});
		},
	});
	initDynamicDataList({
		name: 'participants',
		columnCount: 2,
		deleteLabel: [[#{html.DeleteProjectParticipant}]],
		deleteTitle: [[#{html.Delete}]],
		deleteMessage: [[#{html.AreYouSureToDelete}]],
		data: [
			/*[# th:if="${project != null}"]*//*[# th:each="participant : ${project.participants}"]*/
	        {
				person: "[(${participant.person.id})]",	        	
				role: "[(${participant.role.name})]",	        	
	        },
		    /*[/]*//*[/]*/
		],
		dataName: (dt) => {
			return ALL_PERSONS.get(dt['person']);
		},
		rowBuilder: (data, target, index) => {
			if (index == 1) {
				target.append(ALL_ROLES.get(data['role']));
			} else {
				target.append(ALL_PERSONS.get(data['person']));
			}
		},
		dataConverter: (formData, fieldName, data) => {
			formData.append(fieldName, JSON.stringify(data));
		},
		dataCreator: (doCreateFct) => {
			Swal.fire({
				title: [[#{html.AddProjectParticipant}]],
				icon: 'question',
				showCancelButton: true,
				confirmButtonColor: '#d33',
				cancelButtonColor: '#99cc00',
				confirmButtonText: [[#{html.Add}]],
				grow: 'row',
				html: "[(#{html.ProjectParticipant})]<br/>"
					+ '<select id="swal-input1" class="swal2-input">'
					+ ALL_PERSON_OPTIONS
					+ '</select><br/>'
					+ "[(#{html.ProjectRole})]<br/>"
					+ '<select id="swal-input2" class="swal2-input">'
				    + ALL_ROLE_OPTIONS
					+ '</select><br/>',
				preConfirm: () => {
					return {
						person: document.getElementById("swal-input1").value,
						role: document.getElementById("swal-input2").value,
					};
				},
			}).then(result => {
				if (result.isConfirmed) {
					var value = result.value;
					doCreateFct(value);
				}
			});
		},
	});
	initDynamicDataList({
		name: 'videoURLs',
		deleteLabel: [[#{html.DeleteVideoURL}]],
		deleteTitle: [[#{html.Delete}]],
		deleteMessage: [[#{html.AreYouSureToDelete}]],
		data: [
			/*[# th:if="${project != null}"]*//*[# th:each="url : ${project.videoURLs}"]*/
	        "[(${url})]",
		    /*[/]*//*[/]*/
		],
		rowBuilder: (data, target, index) => {
			target.append(data);
		},
		dataCreator: (doCreateFct) => {
			Swal.fire({
				title: [[#{html.AddVideoURL}]],
				icon: 'question',
				showCancelButton: true,
				confirmButtonColor: '#d33',
				cancelButtonColor: '#99cc00',
				confirmButtonText: [[#{html.Add}]],
				grow: 'row',
				input: 'url',
				inputLabel: [[#{html.VideoURL}]],
				inputPlaceholder: [[#{html.PlaceHolderURL}]],
			}).then(result => {
				if (result.isConfirmed) {
					var value = result.value;
					doCreateFct(value);
				}
			});
		},
	});
	initDynamicDataList({
		name: 'scientificAxes',
		columnCount: 1,
		deleteLabel: [[#{html.DeleteProjectScientificAxis}]],
		deleteTitle: [[#{html.Delete}]],
		deleteMessage: [[#{html.AreYouSureToDelete}]],
		data: [
			/*[# th:if="${project != null}"]*//*[# th:each="axis : ${project.scientificAxes}"]*/
	        {
				id: "[(${axis.id})]",
				name: [[${axis.acronym}]] + ' - ' + [[${axis.name}]],
	        },
		    /*[/]*//*[/]*/
		],
		dataName: (dt) => {
			return dt['name'];
		},
		rowBuilder: (data, target, index) => {
			target.append(data['name']);
		},
		dataConverter: (formData, fieldName, data) => {
			var identifierList = [];
			$.each(data, (index, element) => {
				identifierList.push(element['id']);
			});
			formData.append(fieldName, identifierList);
		},
		dataCreator: (doCreateFct) => {
			Swal.fire({
				title: [[#{html.AddProjectScientificAxis}]],
				icon: 'question',
				showCancelButton: true,
				confirmButtonColor: '#d33',
				cancelButtonColor: '#99cc00',
				confirmButtonText: [[#{html.Add}]],
				grow: 'row',
				html: "[(#{html.ProjectScientificAxis})]<br/>"
					+ '<select id="swal-input1" class="swal2-input">'
					+ ALL_SCIENTIFIC_AXIS_OPTIONS
					+ '</select>',
				preConfirm: () => {
					var pid = document.getElementById("swal-input1").value;
					return {
						id: pid,
						name: ALL_SCIENTIFIC_AXIS_NAMES.get(pid),
					};
				},
			}).then(result => {
				if (result.isConfirmed) {
					var value = result.value;
					doCreateFct(value);
				}
			});
		},
	});
});
</script>
</html>