<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/general :: allBaseLibs-with-bundles"/>
<th:block th:replace="fragments/libs :: google-charts"/>

<th:block th:replace="fragments/nav :: dashboardPublicationsBar"/>

<h2 th:utext="${'Publication Statistics for ' + paperTimeRange}"></h2>

<h4 th:utext="${'How many papers per year (Source: ' + journalRankingSystem + ')'}"></h4>
<div id="drawChart_publicationsPerYear"></div>

<h4 th:utext="${'How many papers per category (Source: ' + journalRankingSystem + ')'}"></h4>
<div id="drawChart_publicationsPerCategory"></div>

<h4 th:utext="${'How many journal papers per quartile (Source: ' + journalRankingSystem + ')'}"></h4>
<div id="drawChart_publicationsPerQuartile"></div>

<h4>How many conference papers per CORE rank</h4>
<div id="drawChart_publicationsPerCoreRank"></div>

<h4>How many papers per research axis</h4>
<div id="drawChart_publicationsPerResearchAxis"></div>

<h4 th:utext="${'Publication Statistics and Rates (Source: ' + journalRankingSystem + ')'}"></h4>
<div id="drawChart_publicationRates"></div>

<h4>How many papers per journal</h4>
<div id="drawChart_publicationsPerJournal"></div>

<h4>How many papers per conference</h4>
<div id="drawChart_publicationsPerConference"></div>

<h4>How many papers with a collaboration per country</h4>
<div id="drawChart_publicationsPerCountry"></div>
<div id="drawChart_publicationsOnMap" style="width: 900px; height: 500px;"></div>

<h4>How many papers per member</h4>
<div id="drawChart_publicationsPerMember"></div>

<script type="text/javascript" th:inline="javascript">
function drawChart_publicationsPerYear() {
	var data = new google.visualization.DataTable();
	data.addColumn('number', 'Year');
	data.addColumn('number', 'Ranked Journals (ACL)');
	data.addColumn('number', 'Unranked Journals (ACLN, ACSL)');
	data.addColumn('number', 'International and National Conferences (C-ACTI, C-ACTN)');
	data.addColumn('number', 'Communications and Posters (C-COM, C-AFF)');
	data.addRows([[${publicationsPerYear}]]);

	var options = {
		width: '100%',
		height: 500,
		isStacked: true,
		hAxis: {format: '0000'},
	};
	
	var yearFormatter = new google.visualization.NumberFormat({pattern: '0000'});
	yearFormatter.format(data, 0);
	var numberFormatter = new google.visualization.NumberFormat({pattern: '#0'});
	numberFormatter.format(data, 1);
	numberFormatter.format(data, 2);
	
	var chart = new google.visualization.ColumnChart(document.getElementById('drawChart_publicationsPerYear'));
	chart.draw(data, options);
}

function drawChart_publicationsPerCategory() {
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Category');
	data.addColumn('number', 'Number of papers');
	data.addRows([[${publicationsPerCategory}]]);
	
	var options = {
		width: '100%',
		height: 500,
	};
		
	var chart = new google.visualization.PieChart(document.getElementById('drawChart_publicationsPerCategory'));
	chart.draw(data, options);
}

function drawChart_publicationsPerQuartile() {
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Category');
	data.addColumn('number', 'Number of papers');
	data.addRows([[${publicationsPerQuartile}]]);
	
	var options = {
		width: '100%',
		height: 500,
	};
		
	var chart = new google.visualization.PieChart(document.getElementById('drawChart_publicationsPerQuartile'));
	chart.draw(data, options);
}

function drawChart_publicationsPerCoreRank() {
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'CORE Rank');
	data.addColumn('number', 'Number of papers');
	data.addRows([[${publicationsPerCoreRank}]]);
	
	var options = {
		width: '100%',
		height: 500,
	};
		
	var chart = new google.visualization.PieChart(document.getElementById('drawChart_publicationsPerCoreRank'));
	chart.draw(data, options);
}

function drawChart_publicationsPerResearchAxis() {
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Research Axis');
	data.addColumn('number', 'Number of papers');
	data.addRows([[${publicationsPerResearchAxis}]]);

	var options = {
		width: '100%',
		height: 500,
		hAxis: {format: '0000'},
		vAxis: {format: '#0'},
	
	};

	var yearFormatter = new google.visualization.NumberFormat({pattern: '0000'});
	yearFormatter.format(data, 0);
	var numberFormatter = new google.visualization.NumberFormat({pattern: '#0'});
	numberFormatter.format(data, 1);

	var chart = new google.visualization.ColumnChart(document.getElementById('drawChart_publicationsPerResearchAxis'));
	chart.draw(data, options);
}

function drawChart_publicationRates() {
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Category');
	
	var ifFormatter = new google.visualization.NumberFormat({pattern: '#0.0'});
	/*[# th:each="year : ${#numbers.sequence(minYear, maxYear + 1)}"]*/
	data.addColumn('number', [[${year}]]);
	ifFormatter.format(data, [[${year - minYear + 1}]]);
    /*[/]*/
	data.addColumn('number', [[${'Average (excl. ' + lastYear + ')'}]]);
	ifFormatter.format(data, [[${lastYear - minYear + 2}]]);
	data.addRows([[${publicationRates}]]);
	
	var options = {
		width: '100%',
		page: true,
		pageSize: 30,
	};
		
	var chart = new google.visualization.Table(document.getElementById('drawChart_publicationRates'));
	chart.draw(data, options);
}

function drawChart_publicationsPerJournal() {
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Journal');
	data.addColumn('string', 'Publisher');
	data.addColumn('string', 'Scimago Q-Index');
	data.addColumn('string', 'WoS Q-Index');
	data.addColumn('number', 'Impact factor');
	data.addColumn('number', 'Number of papers');
	data.addRows([[${publicationsPerJournal}]]);
	
	var ifFormatter = new google.visualization.NumberFormat({pattern: '#0.0'});
	ifFormatter.format(data, 4);

	var options = {
		width: '100%',
		page: true,
		pageSize: 30,
	};
		
	var chart = new google.visualization.Table(document.getElementById('drawChart_publicationsPerJournal'));
	chart.draw(data, options);
}

function drawChart_publicationsPerConference() {
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Conference');
	data.addColumn('string', 'Publisher');
	data.addColumn('string', 'CORE');
	data.addColumn('number', 'Number of papers');
	data.addRows([[${publicationsPerConference}]]);
	
	var options = {
		width: '100%',
		page: true,
		pageSize: 30,
	};
		
	var chart = new google.visualization.Table(document.getElementById('drawChart_publicationsPerConference'));
	chart.draw(data, options);
}

function drawChart_publicationsPerCountry() {
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Country');
	data.addColumn('number', 'Number of papers');
	data.addRows([[${publicationsPerCountry}]]);
	
	var options = {
		width: '100%',
		page: true,
		pageSize: 30,
	};
		
	var chart = new google.visualization.Table(document.getElementById('drawChart_publicationsPerCountry'));
	chart.draw(data, options);
}

function drawChart_publicationsOnMap() {
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Country');
	data.addColumn('number', 'Number of papers');
	data.addRows([[${publicationsPerCountry}]]);
	
	var options = {
	};
		
	var chart = new google.visualization.GeoChart(document.getElementById('drawChart_publicationsOnMap'));
	chart.draw(data, options);
}

function drawChart_publicationsPerMember() {
	var rowData = [[${publicationsPerMember}]];
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Member');
	data.addColumn('string', 'Type');
	/*[# th:each="year : ${#numbers.sequence(minYear, maxYear + 1)}"]*/
	data.addColumn('number', [[${year}]]);
    /*[/]*/
	data.addColumn('number', 'Total');
	data.addRows(rowData);
	
	var options = {
		width: '100%',
		page: true,
		pageSize: 30,
	};
		
	var chart = new google.visualization.Table(document.getElementById('drawChart_publicationsPerMember'));
	chart.draw(data, options);
}

$(document).ready(() => {
	google.charts.load('current', {
		packages : [ 'corechart', 'table', 'geochart' ]
	});
	google.charts.setOnLoadCallback(drawChart_publicationsPerYear);
 	google.charts.setOnLoadCallback(drawChart_publicationsPerCategory);
 	google.charts.setOnLoadCallback(drawChart_publicationsPerQuartile);
 	google.charts.setOnLoadCallback(drawChart_publicationsPerCoreRank);
 	google.charts.setOnLoadCallback(drawChart_publicationsPerResearchAxis);
 	google.charts.setOnLoadCallback(drawChart_publicationRates);
 	google.charts.setOnLoadCallback(drawChart_publicationsPerJournal);
 	google.charts.setOnLoadCallback(drawChart_publicationsPerConference);
 	google.charts.setOnLoadCallback(drawChart_publicationsPerCountry);
 	google.charts.setOnLoadCallback(drawChart_publicationsOnMap);
 	google.charts.setOnLoadCallback(drawChart_publicationsPerMember);
});
</script>
</html>