<!DOCTYPE html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/general :: allBaseLibs"/>
<th:block th:replace="fragments/libs :: bootstrap-datatable"/>

<th:block th:replace="fragments/table :: adminTableDefinition(${changeEnabled})"/>

<table th:replace="fragments/table :: adminTable(~{::thead}, ~{::tbody})">
    <thead>
        <th th:text="#{html.Id}"></th>
        <th th:utext="#{html.Title}"></th>
        <th th:utext="#{html.Authors}"></th>
        <th th:utext="#{html.Type}"></th>
        <th th:utext="#{html.Year}"></th>
        <th th:utext="#{html.WherePublished}"></th>
        <th th:text="#{html.Actions}"></th>
    </thead>
    <tbody>
        <tr th:each="publication : ${publications}">
            <td>
                <th:block th:utext="${publication.id}"></th:block>
            </td>
            <td>
            	<th:block th:utext="${publication.title}"></th:block>
            </td>
            <td>
            	<th:block th:each="authorship, iAuthorship : ${publication.authorships}">
                    <th:block th:unless="${iAuthorship.first}"
                              th:utext="', '"></th:block>
					<a th:href="@{/publicationStats(id=${authorship.person.id})}">
	                    <th:block th:utext="${authorship.person.fullName}"></th:block>
					</a>
            	</th:block>
            </td>
            <td>
            	<th:block th:utext="${publication.type.getLabel(locale)}"></th:block>
            </td>
            <td>
            	<th:block th:utext="${publication.publicationYear}"></th:block>
            </td>
            <td>
            	<th:block th:utext="${publication.wherePublishedShortDescription}"></th:block>
            </td>
            <td th:replace="fragments/table :: adminToolButtons(${publication.id}, ${publication.title},
            		#{html.EditPublication1(${publication.title})},
            		#{html.DeletePublication1(${publication.title})},
            		null,
            		id, id, id,
            		@{/exportJson(id=${publication.id},inAttachment=false)} )"></td>
        </tr>
    </tbody>
</table>
<script th:inline="javascript">
    $(document).ready(() => {
    	adminTableDefinitionWithColCount(6, [ [4, 'desc'], [2, 'asc'], [1, 'asc'] ], true, '150px');
        /*[# th:if="${changeEnabled}" th:each="publication : ${publications}"]*/
        addDeletionButtonCallback(
        		"[[${publication.id}]]",
        		"[(#{html.DeletePublication1(${publication.title})})]",
        		"[(#{html.AreYouSureToDelete(${publication.title})})]",
        		"[(@{/deletePublication(publication=${publication.id})})]",
        		"[(#{html.PublicationDeleted})]",
        		"[(#{html.CannotDeletePublication})]",
        		"[(${publication.title})]",
        		function (e) {
        			location.reload();
        		} );
        /*[/]*/
    });
</script>
</html>