<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="et_pb_portfolio_items clearfix columns-3" data-portfolio-columns="" style="height: 203.5px;">
	<div class="et-pb-slider-arrows"><a class="et-pb-arrow-prev" href="#"><span th:utext="#{html.Previous}"></span></a><a class="et-pb-arrow-next" href="#"><span th:utext="#{html.Next}"></span></a></div>
	<div class="et_pb_carousel_group active" style="display: block;">
		<th:block th:each="project, iProject : ${projects}"
		          th:with="projectThumbail = ${projectImageProvider.getThumbnailPath(project)}">
			<th:block th:if="${projectThumbail != null}">
				<div th:id="${'post-' + project.id}"
				     th:class="${'et_pb_portfolio_item et_pb_grid_item et_pb_fullwidth_portfolio_item_0_1 post-' + project.id + ' project type-project status-publish has-post-thumbnail hentry et_pb_post on_last_row' + (iProject.first ? ' first_in_row' : '')}"
				     style="height: 203.5px; width: 33.3333%; max-width: 33.3333%;">
					<div class="et_pb_portfolio_image landscape">
						<img decoding="async" loading="lazy"
						     width="510" height="382"
						     th:src="${projectThumbail}"
						     th:alt="${project.acronym}"
						     th:srcset="${projectThumbail + ' 479w, ' + projectThumbail + ' 480w'}"
						     sizes="(max-width:479px) 479px, 100vw"
						     th:class="${'wp-image-' + project.id}">
						<div class="meta">
							<a th:href="${project.webPageURI.toString()}">
								<span class="et_overlay"></span>
								<h3 class="et_pb_module_header" th:utext="${project.acronym}"></h3>
								<p class="post-meta et_multi_view_hidden" th:utext="${project.startYear}"></p>
							</a>
						</div>
					</div>
				</div>
			</th:block>
		</th:block>
	</div>
</div>				
</html>