<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:unless="${isEmbeddedPage}">
	<th:block th:replace="~{fragments/general :: allBaseLibs-with-bundles}"/>
</th:block>
<th:block th:if="${isEmbeddedPage}">
	<th:block th:replace="~{fragments/general :: allBaseLibs-embedded}"/>
</th:block>
<th:block th:replace="~{fragments/table :: publicTable}"/>
	<a class="btn btn-warning mt-4 pr-4 pl-4"
	   th:if="${changeEnabled && additionUrl != null}"
	   th:utext="#{html.AddProject}"
	   th:href="${additionUrl}"></a>
<div class="table table-responsive">
    <table class="data-tables datatable-primary" th:id="${'table'+uuid}" style="width: 100%">
        <thead>
	        <th>Rank</th>
	        <th th:utext="#{html.ProjectCategory}"></th>
	        <th th:utext="#{html.StartYear}"></th>
	        <th th:utext="#{html.Acronym}"></th>
	        <th th:utext="#{html.ScientificTitle}"></th>
	        <th th:utext="#{html.FundingScheme0}"></th>
	        <th th:utext="#{html.Period}"></th>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td>
            	<th:block th:utext="${project.category.reverseOrdinal}"></th:block>
            </td>
            <td>
            	<th:block th:utext="${project.category.getLabel()}"></th:block>
            </td>
            <td>
            	<th:block th:utext="${project.startYear}"></th:block>
            </td>
            <td>
            	<a th:href="${project.webPageURI}"
            	   th:if="${project.webPageURI != null}"
            	   class="simpleLink"
            	   th:utext="${project.acronym}"></a>
            	<a th:href="${project.projectURL}"
            	   th:if="${project.webPageURI == null && project.projectURL != null}"
            	   class="simpleLink"
            	   th:utext="${project.acronym}"></a>
            	<th:block th:if="${project.webPageURI == null && project.projectURL == null}"
            	          th:utext="${project.acronym}"></th:block>
            	<th:block th:if="${changeEnabled && editionUrl != null}"><a th:href="${editionUrl + project.id}" class="noLink"><span class="fa-solid fa-pen"></span></a></th:block>
            </td>
            <td>
            	<span class="projectTitle" th:utext="${project.scientificTitle}"></span>
            </td>
            <td>
            	<th:block th:if="${project.category != T(fr.ciadlab.labmanager.entities.project.ProjectCategory).OPEN_SOURCE}"
            	          th:utext="${project.majorFundingScheme.getLabel()}"></th:block>
            </td>
            <td>
            	<span class="projectDetails">
	            	<th:block th:if="${project.startYear > 0 && project.endYear > 0 && project.startYear != project.endYear}" th:utext="#{html.YearRange(${project.startYear}, ${project.endYear})}"></th:block>
	            	<th:block th:if="${project.startYear > 0 && project.endYear > 0 && project.startYear == project.endYear}" th:utext="${project.startYear}"></th:block>
	            	<th:block th:if="${project.startYear > 0 && project.endYear <= 0}" th:utext="#{html.YearRangeNoEnd(${project.startYear})}"></th:block>
	            	<th:block th:if="${project.startYear <= 0 && project.endYear > 0}" th:utext="#{html.YearRangeNoStart(${project.endYear})}"></th:block>
            	</span>
            </td>
        </tbody>
    </table>
</div>
<script type="text/javascript" th:inline="javascript">
$(document).ready(() => {
	var $dtable = initFrontTable( {
		id: [[${'table'+uuid}]],
		dom: 't',
		columns: [
        	{
                "orderable": false,
        	},
        	{
        		data: 'category',
                "orderable": false,
        	},
        	{
        		data: 'startYear',
                "orderable": false,
			},
        	{
                "orderable": false,
			},
        	{
                "orderable": false,
        	},
        	{
                "orderable": false,
            },
        	{
                "orderable": false,
            }
		],
		order: [ [0, 'asc'], [2, 'desc'] ],
		tableParams: {
			rowGroup: {
				startRender: (rows, group) => {
					return group;
				},
				endRender: null,
				dataSrc: ['category', 'startYear'],
			},
		},
	});
	$dtable.column(0).visible(false);
	$dtable.column(1).visible(false);
	$dtable.column(2).visible(false);
});
</script>
</html>