<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:unless="${isEmbeddedPage}">
	<th:block th:replace="~{fragments/general :: allBaseLibs}"/>
</th:block>
<th:block th:if="${isEmbeddedPage}">
	<th:block th:replace="~{fragments/general :: allBaseLibs-embedded}"/>
</th:block>
<th:block th:replace="~{fragments/libs :: bootstrap-datatable}"/>

<table th:replace="~{fragments/table :: adminTable(~{::thead}, ~{::tbody})}">
	<thead>
		<th th:utext="#{html.Year}"></th>
		<th th:utext="#{html.JournalPapers}">ACL/ACLN/ASCL</th>
		<th th:utext="#{html.ConferencePapers}">C-ACTI/C-ACTN/C-AFF</th>
		<th th:utext="#{html.Books}">OS/OV</th>
		<th th:utext="#{html.BookChapters}">COS/COV</th>
		<th th:utext="#{html.Communications}">C-COM/PV</th>
		<th th:utext="#{html.Invitations}">C-INV</th>
		<th th:utext="#{html.Theses}">TH</th>
		<th th:utext="#{html.Others}">AP/BRE/DO/OR/PAT/PT</th>
		<th th:utext="#{html.Total}"></th>
	</thead>
	<tbody>
		<tr th:each="stat : ${stats}"
		    th:with="counts=${stat.value},year=${stat.key},tt=${T(fr.utbm.ciad.labmanager.data.publication.PublicationCategory)}">
		    <!--/*@thymesVar id="counts" type="fr.utbm.ciad.labmanager.views.tl.publication.PublicationsStat"*/-->
			<td th:utext="${year}"></td>
			<td th:utext="${counts.count(tt.ACL, tt.ACLN, tt.ASCL)}"></td>
			<td th:utext="${counts.count(tt.C_ACTI, tt.C_ACTN, tt.C_AFF)}"></td>
			<td th:utext="${counts.count(tt.OS, tt.OV)}"></td>
			<td th:utext="${counts.count(tt.COS, tt.COV)}"></td>
			<td th:utext="${counts.count(tt.C_COM, tt.PV)}"></td>
			<td th:utext="${counts.count(tt.C_INV)}"></td>
			<td th:utext="${counts.count(tt.TH)}"></td>
			<td th:utext="${counts.count(tt.AP, tt.BRE, tt.DO, tt.OR, tt.PAT, tt.PT)}"></td>
			<td th:utext="${counts.total}"></td>
		</tr>
		<tr style="border-top: 2px solid #dee2e6;font-weight: bold;"
		    th:if="${globalStats}"
		    th:with="tt=${T(fr.utbm.ciad.labmanager.data.publication.PublicationCategory)}">
			<td th:text="#{html.Total}"></td>
			<td th:utext="${globalStats.count(tt.ACL, tt.ACLN, tt.ASCL)}"></td>
			<td th:utext="${globalStats.count(tt.C_ACTI, tt.C_ACTN, tt.C_AFF)}"></td>
			<td th:utext="${globalStats.count(tt.OS, tt.OV)}"></td>
			<td th:utext="${globalStats.count(tt.COS, tt.COV)}"></td>
			<td th:utext="${globalStats.count(tt.C_COM, tt.PV)}"></td>
			<td th:utext="${globalStats.count(tt.C_INV)}"></td>
			<td th:utext="${globalStats.count(tt.TH)}"></td>
			<td th:utext="${globalStats.count(tt.AP, tt.BRE, tt.DO, tt.OR, tt.PAT, tt.PT)}"></td>
			<td th:utext="${globalStats.total}"></td>
		</tr>
	</tbody>
</table>
<script type="text/javascript" th:inline="javascript">
$(document).ready(function() {
    var table = $("#table[(${uuid})]:first").DataTable({
        dom: '',
        scrollCollapse: true,
        paging: false,
        responsive: true,
        autoWidth: true,
        columns: [
            {
                "orderable": false,
                "data": "year"
            },
            {
                "orderable": false
            },
            {
                "orderable": false
            },
            {
                "orderable": false
            },
            {
                "orderable": false
            },
            {
                "orderable": false
            },
            {
                "orderable": false
            },
            {
                "orderable": false
            },
            {
                "orderable": false
            },
            {
                "orderable": false
            }
        ]
    });
});
</script>
</html>