<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/general :: allBaseLibs}" />
<th:block th:replace="~{fragments/form :: formLibs}" />
<th:block th:replace="~{fragments/formfileinput :: all}" />
<th:block th:replace="~{fragments/formdynlist :: all}" />

<th:block th:if="${structure != null}">
	<th:block th:replace="~{fragments/nav :: teachingActivityListBar*(${person.fullNameWithLastNameFirst}, #{html.EditTeachingActivity2(${activity.codeOrTitle}, ${person.fullNameWithLastNameFirst})})}"/>
</th:block>
<th:block th:if="${structure == null}">
	<th:block th:replace="~{fragments/nav :: teachingActivityListBar*(${person.fullNameWithLastNameFirst}, #{html.AddTeachingActivity1(${person.fullNameWithLastNameFirst})})}"/>
</th:block>

<form th:replace="~{fragments/form :: entityForm(activity, ${activity == null ? '' : activity.id}, ${formActionUrl}, ${formRedirectUrl}, #{html.TeachingActivitySavingError}, ~{::.form-group})}">
	<div class="form-group" th:replace="~{fragments/form :: textInput*(code, #{html.Acronym}, #{html.PlaceHolderTeachingActivityAcronym}, ${activity != null ? activity.code : ''})}"></div>
	<div class="form-group" th:replace="~{fragments/form :: textInput*(title, #{html.Title}, #{html.PlaceHolderTeachingActivityTitle}, ${activity != null ? activity.title : ''})}"></div>
	<div class="form-group" th:replace="~{fragments/form :: textInput*(degree, #{html.TeachingActivityDegree}, #{html.PlaceHolderTeachingActivityDegree}, ${activity != null ? activity.degree : ''})}"></div>
	<div class="form-group" th:replace="~{fragments/form :: comboInput*(level, #{html.TeachingActivityLevel}, ~{::option#option-levels})}">
		<option id="option-levels"
		        th:each="level : ${sortedLevels}"
		        th:selected="${activity != null && activity.level == level}"
		        th:value="${level.name}"
		        th:utext="${level.getLabel()}"></option>
	</div>
	<div class="form-group" th:replace="~{fragments/form :: comboInput*(studentType, #{html.TeachingActivityStudentType}, ~{::option#option-studentTypes})}">
		<option id="option-studentTypes"
		        th:each="type : ${sortedStudentTypes}"
		        th:selected="${activity != null && activity.studentType == type}"
		        th:value="${type.name}"
		        th:utext="${type.getLabel()}"></option>
	</div>
	<div class="form-group" th:replace="~{fragments/form :: comboInput*(university, #{html.TeachingActivityUniversity}, ~{::option#option-universities})}">
		<option id="option-universities"
		        th:each="university : ${organizations}"
		        th:selected="${activity != null && activity.university != null && activity.university.id == university.id}"
		        th:value="${university.id}"
		        th:utext="${university.acronym + ' - ' + university.name}"></option>
	</div>
	<div class="form-group" th:replace="~{fragments/form :: comboInput*(language, #{html.Language}, ~{::option#option-language})}">
		<option id="option-language"
		        th:each="language : ${T(fr.ciadlab.labmanager.utils.country.CountryCode).values()}"
		        th:selected="${(activity == null && language == defaultLanguage) || (activity != null && activity.language == language)}"
		        th:value="${language.name}"
		        th:utext="#{html.CountryNameInList(${countryLabels.get(language)},${language.code})}"></option>
	</div>
	<div class="form-group" th:replace="~{fragments/form :: dateInput*(startDate, #{html.StartDate}, ${formattedStartDate})}"></div>
	<div class="form-group" th:replace="~{fragments/form :: dateInput(endDate, #{html.EndDate}, ${formattedEndDate})}"></div>
	<div class="form-group" th:replace="~{fragments/form :: comboInput*(role, #{html.TeachingActivityRole}, ~{::option#option-roles})}">
		<option id="option-roles"
		        th:each="role : ${sortedRoles}"
		        th:selected="${activity != null && activity.role == role}"
		        th:value="${role.name}"
		        th:utext="${role.getLabel()}"></option>
	</div>
	<div class="form-group" th:replace="~{fragments/form :: checkInput(differentHetdForTdTp, #{html.TeachingActivityExternalContract}, #{html.TeachingActivityExternalContract}, ${activity != null ? activity.differentHetdForTdTp : false})}"></div>
	<div class="form-group" th:replace="~{fragments/formdynlist :: dynamicDataList*(annualWorkPerType, #{html.TeachingActivityAnnualHoursPerType}, #{html.AddTeachingActivityHours})}"></div>
	<div class="form-group" th:replace="~{fragments/form :: textInput(numberOfStudents, #{html.TeachingActivityNumberOfStudents}, #{html.PlaceHolderPositiveInteger}, ${activity != null && activity.numberOfStudents > 0 ? activity.numberOfStudents : ''})}"></div>
	<div class="form-group" th:replace="~{fragments/form :: textAreaInput(explanation, #{html.TeachingActivityExplanation}, ${''}, ${activity != null ? activity.explanation : ''})}"></div>
	<div class="form-group" th:replace="~{fragments/formdynlist :: dynamicDataList(pedagogicalPracticeTypes, #{html.PedagogicalPracticeTypes}, #{html.AddPedagogicalPracticeType})}"></div>
	<div class="form-group" th:replace="~{fragments/form :: textInput(activityUrl, #{html.TeachingActivityURL}, #{html.PlaceHolderURL}, ${activity != null ? activity.activityUrl : ''})}"></div>
	<div class="form-group" th:replace="~{fragments/form :: textInput(sourceUrl, #{html.TeachingActivityCodeURL}, #{html.PlaceHolderURL}, ${activity != null ? activity.sourceUrl : ''})}"></div>
	<div class="form-group" th:replace="~{fragments/formfileinput :: fileUploadPdf(pathToSlides, #{html.TeachingActivitySlides})}"></div>
</form>
<script type="text/javascript" th:inline="javascript">
const ALL_TEACHING_ACTIVITY_TYPES = new Map();
var ALL_TEACHING_ACTIVITY_TYPE_OPTIONS = '';
/*[# th:each="type : ${sortedActivityTypes}"]*/
ALL_TEACHING_ACTIVITY_TYPES.set("[(${type.name})]", [[${type.getLabel()}]]);
ALL_TEACHING_ACTIVITY_TYPE_OPTIONS = ALL_TEACHING_ACTIVITY_TYPE_OPTIONS + '<option value="[(${type.name})]">'+ [[${type.getLabel()}]] + '</option>';
/*[/]*/

const ALL_PEDAGOGICAL_PRATICE_TYPES = new Map();
var ALL_PEDAGOGICAL_PRATICE_TYPE_OPTIONS = '';
var typeName;
/*[# th:each="type : ${sortedPedagogicalPracticeTypes}"]*/
typeName = [[${type.getLabel}]];
ALL_PEDAGOGICAL_PRATICE_TYPES.set("[(${type.name})]", typeName);
ALL_PEDAGOGICAL_PRATICE_TYPE_OPTIONS = ALL_PEDAGOGICAL_PRATICE_TYPE_OPTIONS + '<option value="[(${type.name})]" title="[(${type.getDescription})]">' + typeName + '</option>';
/*[/]*/

$(document).ready(function () {
	
	// Initialize form validation
	$('#form:first').validate({
        rules: {
        	code: {
                required: true,
        	},
        	title: {
                required: true,
                minlength: 5
            },
        	startDate: {
                required: true,
            },
        },
    });

	// Initialize file upload components
	initFileUploadSinglePdf({
		name: 'pathToSlides',
		basename: "[(${pathToSlides_basename})]",
		picture: "[(${pathToSlides_picture})]",
	});

	// Initialize the component for the annual hours
	initDynamicDataList({
		name: 'annualWorkPerType',
		columnCount: 2,
		deleteLabel: [[#{html.DeleteTeachingActivityHours}]],
		deleteTitle: [[#{html.Delete}]],
		deleteMessage: [[#{html.AreYouSureToDelete}]],
		data: [
			/*[# th:if="${activity != null}"]*//*[# th:each="hours : ${activity.annualWorkPerType.entrySet()}"]*/
	        {
				type: "[(${hours.key.name})]",
				hours: [(${hours.value})],
	        },
		    /*[/]*//*[/]*/
		],
		dataName: (dt) => {
			return dt['type'] + ' - ' + dt['hours'];
		},
		rowBuilder: (data, target, index) => {
			if (index == 1) {
				target.append((+data['hours']).toFixed(1));
			} else {
				target.append(ALL_TEACHING_ACTIVITY_TYPES.get(data['type']));
			}
		},
		dataConverter: (formData, fieldName, data) => {
			formData.append(fieldName, JSON.stringify(data));
		},
		dataCreator: (doCreateFct) => {
			Swal.fire({
				title: [[#{html.AddTeachingActivityHours}]],
				icon: 'question',
				showCancelButton: true,
				confirmButtonColor: '#d33',
				cancelButtonColor: '#99cc00',
				confirmButtonText: [[#{html.Add}]],
				grow: 'row',
				html: "[(#{html.TeachingActivities})]<br/>"
					+ '<select id="swal-input1" class="swal2-input">'
					+ ALL_TEACHING_ACTIVITY_TYPE_OPTIONS
					+ '</select><br/>'
					+ "[(#{html.TeachingActivityHours})]<br/>"
					+ '<input id="swal-input2" class="swal2-input" type="text" placeholder="[(#{html.PlaceHolderPositiveInteger})]"/>',
				preConfirm: () => {
					return {
						type: document.getElementById("swal-input1").value,
						hours: document.getElementById("swal-input2").value,
					};
				},
			}).then(result => {
				if (result.isConfirmed) {
					var value = result.value;
					doCreateFct(value);
				}
			});
		},
	});
	initDynamicDataList({
		name: 'pedagogicalPracticeTypes',
		columnCount: 1,
		deleteLabel: [[#{html.DeletePedagogicalPracticeType}]],
		deleteTitle: [[#{html.Delete}]],
		deleteMessage: [[#{html.AreYouSureToDelete}]],
		data: [
			/*[# th:if="${activity != null}"]*//*[# th:each="pedagType : ${activity.pedagogicalPracticeTypes}"]*/
	        {
				id: "[(${pedagType.name})]",
				name: [[${pedagType.getLabel}]],
	        },
		    /*[/]*//*[/]*/
		],
		dataName: (dt) => {
			return dt['name'];
		},
		rowBuilder: (data, target, index) => {
			target.append(data['name']);
		},
		dataConverter: (formData, fieldName, data) => {
			var identifierList = [];
			$.each(data, (index, element) => {
				identifierList.push(element['id']);
			});
			formData.append(fieldName, identifierList);
		},
		dataCreator: (doCreateFct) => {
			Swal.fire({
				title: [[#{html.AddPedagogicalPracticeType}]],
				icon: 'question',
				showCancelButton: true,
				confirmButtonColor: '#d33',
				cancelButtonColor: '#99cc00',
				confirmButtonText: [[#{html.Add}]],
				grow: 'row',
				html: "[(#{html.PedagogicalPraticeType})]<br/>"
					+ '<select id="swal-input1" class="swal2-input">'
					+ ALL_PEDAGOGICAL_PRATICE_TYPE_OPTIONS
					+ '</select>',
				preConfirm: () => {
					var pid = document.getElementById("swal-input1").value;
					return {
						id: pid,
						name: ALL_PEDAGOGICAL_PRATICE_TYPES.get(pid),
					};
				},
			}).then(result => {
				if (result.isConfirmed) {
					var value = result.value;
					doCreateFct(value);
				}
			});
		},
	});
});
</script>
</html>