<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/general :: allBaseLibs}"/>
<th:block th:replace="~{fragments/libs :: bootstrap-datatable}"/>

<th:block th:replace="~{fragments/table :: adminTableDefinition(${changeEnabled})}"/>

<th:block th:replace="~{fragments/nav :: teachingActivityListBar(${person.fullNameWithLastNameFirst})}"/>

<a id="btAddTeachingActivity" class="btn btn-warning mt-4 pr-4 pl-4"
   th:if="${changeEnabled}" th:utext="#{html.AddTeachingActivity1(${person.fullNameWithLastNameFirst})}"
   th:href="${additionUrl + person.id}"></a>

<table th:replace="~{fragments/table :: adminTable(~{::thead}, ~{::tbody})}">
    <thead>
        <th th:utext="#{html.Id}"></th>
        <th th:utext="#{html.Code}"></th>
        <th th:utext="#{html.Title}"></th>
        <th th:utext="#{html.Person}"></th>
        <th th:utext="#{html.University}"></th>
        <th th:utext="#{html.Level}"></th>
        <th th:utext="#{html.Type}"></th>
        <th th:utext="#{html.StartDate}"></th>
        <th th:utext="#{html.EndDate}"></th>
        <th th:text="#{html.Actions}"></th>
    </thead>
    <tbody>
        <tr th:each="activity : ${activities}">
            <td>
                <th:block th:utext="${activity.id}"></th:block>
            </td>
            <td>
                <th:block th:utext="${activity.code}"></th:block>
            </td>
            <td>
                <th:block th:utext="${activity.title}"></th:block>
            </td>
            <td>
                <th:block th:utext="${activity.person.fullNameWithLastNameFirst}"></th:block>
            </td>
            <td>
                <th:block th:utext="${activity.university.acronymOrName}"></th:block>
            </td>
            <td>
                <th:block th:utext="${activity.level.getLabel()}"></th:block>
            </td>
            <td>
                <th:block th:utext="${activity.studentType.getLabel()}"></th:block>
            </td>
            <td>
				<th:block th:if="${activity.startDate != null}"
				          th:utext="${activity.startDate.toString()}"></th:block>
            </td>
            <td>
				<th:block th:if="${activity.endDate != null}"
				          th:utext="${activity.endDate.toString()}"></th:block>
            </td>
            <td th:replace="~{fragments/table :: adminToolButtons(${activity.id}, ${activity.codeOrTitle},
            		#{html.EditTeachingActivity2(${activity.codeOrTitle}, ${person.fullNameWithLastNameFirst})},
            		#{html.DeleteTeachingActivity2(${activity.codeOrTitle}, ${person.fullNameWithLastNameFirst})},
            		~{::.admin-tool-buttons},
            		null, null, null, null)}">
            </td>
        </tr>
    </tbody>
</table>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(() => {
    	initAdministrationTable({
            columns: 9,
    		actionWidth: '60px',
    		order: [ [1, 'asc'], [8, 'desc'], [7, 'desc'] ],
    	});
        /*[# th:if="${changeEnabled}" th:each="activity : ${activities}"]*/
        attachDeletionHandler({
        	id: "[[${activity.id}]]",
        	url: "[(@{/deleteTeachingActivity(activity=${activity.id})})]",
        	name: [[${activity.codeOrTitle}]],
        	questionTitle: [[#{html.DeleteTeachingActivity2(${activity.codeOrTitle}, ${person.fullNameWithLastNameFirst})}]],
        	questionText: [[#{html.AreYouSureToDelete(${activity.codeOrTitle})}]],
        	successText: [[#{html.TeachingActivityDeleted}]],
        	failureText: [[#{html.CannotDeleteTeachingActivity}]],
        });
        /*[/]*/
    });
</script>
</html>