<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="general">
		<link rel="icon" href="data:,">
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</th:block>

    <th:block th:fragment="allBaseLibs">
		<!-- Dependencies -->
		<th:block th:replace="~{fragments/general :: general}"/>
		<th:block th:replace="~{fragments/libs :: jquery}"/>
		<th:block th:replace="~{fragments/libs :: bootstrap}"/>
		<th:block th:replace="~{fragments/libs :: modernizr}"/>
		<th:block th:replace="~{fragments/libs :: fontawesome}"/>
		<th:block th:replace="~{fragments/libs :: jquery-plugins}"/>
		<th:block th:replace="~{fragments/libs :: bootstrap-icons}"/>
		<!-- LabManager Style and Functions -->
		<link rel="stylesheet" th:href="@{/css/labmanager/labmanager.css}"/>
    	<script type="text/javascript" th:src="@{/js/labmanager/labmanager-scripts.js}"></script>
	</th:block>

    <th:block th:fragment="allBaseLibs-with-bundles">
		<!-- Dependencies -->
		<th:block th:replace="~{fragments/general :: general}"/>
		<th:block th:replace="~{fragments/libs :: jquery}"/>
		<th:block th:replace="~{fragments/libs :: bootstrap-bundles}"/>
		<th:block th:replace="~{fragments/libs :: modernizr}"/>
		<th:block th:replace="~{fragments/libs :: fontawesome}"/>
		<th:block th:replace="~{fragments/libs :: jquery-plugins}"/>
		<th:block th:replace="~{fragments/libs :: bootstrap-icons}"/>
		<!-- LabManager Style and Functions -->
		<link rel="stylesheet" th:href="@{/css/labmanager/labmanager.css}"/>
    	<script type="text/javascript" th:src="@{/js/labmanager/labmanager-scripts.js}"></script>
	</th:block>

    <th:block th:fragment="allBaseLibs-embedded">
		<th:block th:replace="~{fragments/libs :: bootstrap-bundles}"/>
		<link rel="stylesheet" th:href="@{/css/labmanager/bootstrap.wp.css}"/>
		<th:block th:replace="~{fragments/libs :: modernizr}"/>
		<th:block th:replace="~{fragments/libs :: fontawesome}"/>
		<th:block th:replace="~{fragments/libs :: jquery-plugins}"/>
		<th:block th:replace="~{fragments/libs :: bootstrap-icons}"/>
		<!-- LabManager Style and Functions -->
		<link rel="stylesheet" th:href="@{/css/labmanager/labmanager.css}"/>
    	<script type="text/javascript" th:src="@{/js/labmanager/labmanager-scripts.js}"></script>
	</th:block>

    <th:block th:fragment="obfuscatedEmail(id,varPostfix)">
	     <span th:if="${varPostfix}"
	           class="obfuscated-em"
	           th:id="${id}"
	           th:data-obfa="${obfuscatedValues['obfuscatedEmailTld_' + varPostfix]}"
	           th:data-obfb="${obfuscatedValues['obfuscatedEmailTld_' + varPostfix]}"
	           th:data-obfc="${obfuscatedValues['obfuscatedEmailTld_' + varPostfix]}"
	           th:data-obfd="${obfuscatedValues['obfuscatedEmailTld_' + varPostfix]}"></span>
	     <span th:unless="${varPostfix}"
	           class="obfuscated-em"
	           th:id="${id}"
	           th:data-obfa="${obfuscatedValues['obfuscatedEmailTld']}"
	           th:data-obfb="${obfuscatedValues['obfuscatedEmailDomain']}"
	           th:data-obfc="${obfuscatedValues['obfuscatedEmailName1']}"
	           th:data-obfd="${obfuscatedValues['obfuscatedEmailName0']}"></span>
	</th:block>

    <th:block th:fragment="obfuscatedPhone(id,varPostfix)">
	     <span th:if="${varPostfix}"
	           class="obfuscated-pn"
	           th:id="${id}"
	           th:data-obfa="${obfuscatedValues['obfuscatedPhone0_' + varPostfix]}"
	           th:data-obfb="${obfuscatedValues['obfuscatedPhone1_' + varPostfix]}"
	           th:data-obfc="${obfuscatedValues['obfuscatedPhone2_' + varPostfix]}"
	           th:data-obfd="${obfuscatedValues['obfuscatedPhone3_' + varPostfix]}"></span>
	     <span th:unless="${varPostfix}"
	           class="obfuscated-pn"
	           th:id="${id}"
	           th:data-obfa="${obfuscatedValues['obfuscatedPhone0']}"
	           th:data-obfb="${obfuscatedValues['obfuscatedPhone1']}"
	           th:data-obfc="${obfuscatedValues['obfuscatedPhone2']}"
	           th:data-obfd="${obfuscatedValues['obfuscatedPhone3']}"></span>
	</th:block>

</html>