<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="jquery">
    	<!-- JQuery 3.7.1 -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	</th:block>

    <th:block th:fragment="jquery-validation">
    	<!--  JQuery Validation 1.19.5 -->
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/additional-methods.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/additional-methods.min.js"></script>
	</th:block>

    <th:block th:fragment="select2">
    	<!--  Bootstrap select2 4.1.0-rc.0 -->
		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	</th:block>

    <th:block th:fragment="bootstrap">
    	<!-- Bootstrap 5.3.1 -->
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	</th:block>

    <th:block th:fragment="bootstrap-bundles">
    	<!-- Bootstrap 5.3.1 -->
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
	</th:block>

    <th:block th:fragment="bootstrap-datatable">
    	<!-- Bootstrap DataTable 1.13.8 and associated extensions -->
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-1.13.8/af-2.6.0/b-2.4.2/b-colvis-2.4.2/b-html5-2.4.2/b-print-2.4.2/cr-1.7.0/date-1.5.1/fc-4.3.0/fh-3.4.0/kt-2.11.0/r-2.5.0/rg-1.4.1/rr-1.4.1/sc-2.3.0/sb-1.6.0/sp-2.2.0/sl-1.7.0/sr-1.3.0/datatables.min.css"/>
		<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-1.13.8/af-2.6.0/b-2.4.2/b-colvis-2.4.2/b-html5-2.4.2/b-print-2.4.2/cr-1.7.0/date-1.5.1/fc-4.3.0/fh-3.4.0/kt-2.11.0/r-2.5.0/rg-1.4.1/rr-1.4.1/sc-2.3.0/sb-1.6.0/sp-2.2.0/sl-1.7.0/sr-1.3.0/datatables.min.js"></script>
	</th:block>

    <th:block th:fragment="bootstrap-icons">
    	<!-- Bootstrap Icons 1.9.1 -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.min.css" crossorigin="anonymous">
	</th:block>

    <th:block th:fragment="bootstrap-fileinput">
    	<!-- Bootstrap File-Input 5.5.1 -->
		<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.2/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.2/js/fileinput.min.js"></script>
	</th:block>

    <th:block th:fragment="fontawesome">
    	<!-- Font Awesome 6.1.2 -->
		<link rel="stylesheet" th:href="@{/css/fontawesome.all.min.css}"/>
		<script type="text/javascript" th:src="@{/js/fontawesome.all.min.js}"></script>
	</th:block>

    <th:block th:fragment="modernizr">
    	<!-- Modernizr 3.6.0 -->
        <script type="text/javascript" th:src="@{/js/modernizr-custom.js}"></script>
	</th:block>

    <th:block th:fragment="jquery-plugins">
    	<!-- JQuery Easing 1.4.1 -->
    	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery.easing@1.4.1/jquery.easing.min.js"></script>
	</th:block>

    <th:block th:fragment="sweetalert">
    	<!-- SweetAlert2 11.4.9 -->
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.1/dist/sweetalert2.all.min.js"></script>
	</th:block>

    <th:block th:fragment="qrcode-js">
    	<!--  QRCode.js 2015 -->
		<script type="text/javascript" th:src="@{/js/qrcode.js}"></script>
	</th:block>

    <th:block th:fragment="draglist">
		<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/RubaXa/Sortable/Sortable.min.js"></script>
	</th:block>

    <th:block th:fragment="flags">
		<link rel="stylesheet" href="https://unpkg.com/country-flag-icons/3x2/flags.css"/>
	</th:block>
	
    <th:block th:fragment="google-charts">
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	</th:block>
</html>