<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: style"/>
    <th:block th:replace="fragments/head :: script"/>

    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/additional-methods.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/additional-methods.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>-->


    <style>
        .custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
            border-color: #0d64c1;
            border-width:2px;
        }
    </style>
</head>

<body>

<div class="horizontal-main-wrapper">
    <!-- main content area start -->
    <div class="main-content">
        <div class="main-content-inner">
            <div class="row" th:if="${param.error != null}">
                <div class="col-lg-12">
                    <div class="card bg-danger">
                        <div class="card-body">
                            <h4 class="header-title">Error during bibtext import.</h4>
                            <p th:text="${param.message != null ?  param.message : ''}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" th:if="${param.success != null}">
                <div class="col-lg-12">
                    <div class="card bg-success">
                        <div class="card-body">
                            <h4 th:text="${param.importedPubs != null ? param.importedPubs : '0'}"></h4>
                            <p>publication(s) has been successfully added to database.</p>
                            <p>If the number is lower than expected, some publications have been rejected because of format error or missing data.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content-inner">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title" >Add publication from Bibtext</h4>
                            <form id="form" enctype="multipart/form-data" th:action="@{'/importBibtext'}" method="post" >
                                <div class="form-group">
                                    <label for="bibtext" class="col-form-label">Bibtext</label>
                                    <input class="form-control" type="file" id="bibtext" name="bibtext" multiple>
                                </div>

                                <button type="submit" class="btn btn-success mt-4 pr-4 pl-4">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main content area end -->
</div>
<!-- page container area end -->
</body>

<script th:inline="javascript">

    function enableRemove() {
        $(document).on('click', '.removeElement', function(e) {
            e.preventDefault();
            $(this).parent().parent().remove();
        });
    }

    function unlockDivIfNeeded() {
        var value = $("#publicationType").find(':selected')[0].value;
        console.log("New value ; " + value);

        $(".unlockIfReadingCommitteeJournalPopularizationPaper").hide();
        $(".unlockIfBook").hide();
        $(".unlockIfBookChapter").hide();
        $(".unlockIfEngineeringActivity").hide();
        $(".unlockIfProceedingsConference").hide();
        $(".unlockIfSeminarPatentInvitedConference").hide();
        $(".unlockIfUniversityDocument").hide();
        $(".unlockIfUserDocumentation").hide();


        if(value === "null") {
            $("#unlockOnceTypeChosen").hide();
        }
        else {
            $("#unlockOnceTypeChosen").show();
            switch(groupPublicationTypes(value)) {
                case "ReadingCommitteeJournalPopularizationPaper":
                    $(".unlockIfReadingCommitteeJournalPopularizationPaper").show();
                    break;

                case "ProceedingsConference":
                    $(".unlockIfProceedingsConference").show();
                    break;

                case "Book":
                    $(".unlockIfBook").show();
                    break;

                case "BookChapter":
                    $(".unlockIfBookChapter").show();
                    break;

                case "SeminarPatentInvitedConference":
                    $(".unlockIfSeminarPatentInvitedConference").show();
                    break;

                case "UniversityDocument":
                    $(".unlockIfUniversityDocument").show();
                    break;

                case "EngineeringActivity":
                    $(".unlockIfEngineeringActivity").show();
                    break;

                case "UserDocumentation":
                    $(".unlockIfUserDocumentation").show();
                    break;
            }

        }
    }

    $(document).ready(function () {

        // var formUrl = /*[[@{/createPublication}]]*/ '';
        // $("#form").ajaxForm({url: formUrl, type: 'post'});

/*        $('#publicationAuthors').select2({
            tags: true,
            placeholder: 'Enter authors'
        });*/

        $('#publicationType').select2();
        $(document).on('change', '#publicationType', function(){unlockDivIfNeeded();});
        unlockDivIfNeeded();
        // $("#publicationType").on('select2:select', unlockDivIfNeeded());
        // $("#publicationType").on('change', unlockDivIfNeeded());
        
        $("input[type='file']").on("change", function(){  
			var numFiles = $(this).get(0).files.length
			alert(numFiles);
		});


        $('#form').validate({
            rules: {
                publicationTitle: 'required',
                publicationAbstract: {
                    required: true,
                    minlength: 2
                },
                publicationDate: 'required',
            },
            messages: {
                publicationTitle: 'Please enter the publication title',
                publicationAbstract: {
                    required: 'Please enter an abstract',
                    minlength: 'The abstract is too short...'
                },
                publicationDate: 'Please enter the publication date',
            },
            errorElement: 'em',
            errorPlacement: function errorPlacement(error, element) {
                error.addClass('invalid-feedback');

                if (element.prop('type') === 'checkbox') {
                    error.insertAfter(element.parent('label'));
                } else {
                    error.insertAfter(element);
                }
            },
            // eslint-disable-next-line object-shorthand
            highlight: function highlight(element) {
                $(element).addClass('is-invalid').removeClass('is-valid');
            },
            // eslint-disable-next-line object-shorthand
            unhighlight: function unhighlight(element) {
                $(element).addClass('is-valid').removeClass('is-invalid');
            }
        });

        $('#publicationAuthors').select2({
            tags: true,
            placeholder: 'Enter author'
        });

        var el = document.getElementById("authors");
        var sortable = Sortable.create(el);

        $(document).on('click', '.addElement', function(e) {
            e.preventDefault();
            $('<div class="form-row connectedSortable test">\n' +
                ' <div class="col-md-10 mb-3">\n' +
                '    <input name="publicationAuthors" class="form-control list-group-item list-group-item-action list-group-item-primary" readonly="true" value="' + $('#publicationAuthors')[0].value + '"/>\n' +
                '     </div>\n' +
                '     <div class="col-md-2 mb-3">\n' +
                '    <button class="form-control btn btn-danger mt-2 pr-2 pl-2 removeElement">Remove</button>\n' +
                '     </div>\n' +
                '    </div>').appendTo('#authors');
            enableRemove();
        });

        enableRemove();

    });

</script>
</html>

