.sortable {
    cursor: pointer;
}

.ciadCSS a {
	color: #99cc00;
}
.publiTitle {
	color: #99cc00;
}

.ciadCSS header {
	font-size: 1.3em;
}

.ciadCSS header2 {
	font-size: 1.5em;
}

.pubCategory{
	font-weight:bold;
}

.clientButton{
	color: #ffffff;
	background-color: #88AB2B;
	width: 16%;
	height: 50px;
	border-radius: 10px;
	border: 2px solid #444444;
    cursor: pointer;
}

.smallClientButton{
	color: #ffffff;
	background-color: #88AB2B;
	width: 8%;
	height: 50px;
	border-radius: 10px;
	border: 2px solid #444444;
    cursor: pointer;
	float: right;
}

.rightAlign{
	float: right;
}

.memberList{
	font-size: 1.3em;
}

.memberList header{
	font-size: 2em;
}

/* I have no idea why this doesnt work
 */
.importPicker { 
	font-size: 1.3em;
}

.importPicker header { 
	font-size: 1.8em;
}

.dlAttachement{
	width:50px;
	height:50px;
    cursor: pointer;
	float: right;
}

.singlePublication
{
	font-size: 1.4em;
	line-height:200%;
	margin-left:5em;
}
.pubCategory
{
	font-size: 1.4em;
}
















/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 500px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 