.et_pb_portfolio_items {
    width: 100%;
    position: relative;
    overflow: hidden;
    left: 0;
    top: 0;
}
.et-pb-arrow-next, .et-pb-arrow-prev {
    position: absolute;
    top: 50%;
    z-index: 100;
    font-size: 48px;
    color: #fff;
    margin-top: -24px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    opacity: 0;
}
.et-pb-arrow-prev {
    left: -22px;
}
.et-pb-arrow-next {
    right: -22px;
}
